{# src/MA/UserBundle/Resources/User/aides.html.twig #}

{% extends "MAUserBundle::user_general.html.twig" %}

{% block title %}
  {{ parent() }} - Admin - Aides
{% endblock %}

{% block MA_User_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">
			<div class="section section_admin" id="section6">
				
				<!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
	        	{% if is_granted("ROLE_ADMIN") %}

	        		<!-- BEGIN nav admin -->
			          {% include 'includes/nav_admin.html.twig' %}
			        <!-- END nav admin -->

				  	<div id="section_admin" class="row center">
						<div class="row">
				    		<div class="row left">
				    			<a href="{{ path('ma_user_aides_new') }}" class="btn btn-admin float-left">
				    				Nouvelle aide
				    			</a>
				    			<p class="center italic red">
			    					<strong>ATTENTION : L'ordre commence à 2 parce que le 1 correspond au don direct.</strong>
			    				</p>
				    		</div>
				    		{% if aides|length > 0 %}
								<div class="table-responsive">
			                      <table class="table">
			                        <thead>
			                          <tr>
			                            <th class="center">
			                              	Ordre
			                            </th>
			                            <th class="center">
			                              	En-tête
			                            </th>
			                            <th class="center">
			                              	Image
			                            </th>
			                            <th class="center">
			                              	Nom
			                            </th>
			                            <th class="center">
			                              	Description
			                            </th>
			                            <th class="center">
			                              	Prix
			                            </th>
			                            <th class="center">
			                              	Créé le
			                            </th>
			                            <th class="center">
			                              	Modifié le
			                            </th>
			                            <th class="center">
			                              	Statut
			                            </th>
			                            <th class="center">
			                              Action
			                            </th>
			                          </tr>
			                        </thead>
			                        <tbody>
			                          {% for aide in aides %}
			                            <tr>
				                            <td class="center">
				                              	{% if aide.orderList|length > 0 %}
				                              		{{ aide.orderList }}
				                              	{% else %}
				                              		-
				                              	{% endif %}
				                            </td>
				                            <td class="center">
				                              	{% if aide.header|length > 0 %}
				                              		{{ aide.header | truncate(50, false, '...')  }}
				                              	{% else %}
				                              		---
				                              	{% endif %}
				                            </td>
				                            <td class="center">
				                              	{% if aide.alt|length > 0 and aide.url|length > 0 %}
													<div class="aide_img_admin" style="background-image: url('{{ asset(aide.webPath) }}'); background-size: cover; background-position: 50%; min-height:20px;">
													</div>
												{% else %}
													<div class="aide_img_admin" style="background-image: url('{{ asset('img/system/defaults/default_img.png') }}'); background-size: cover; background-position: 50%; min-height:20px;" alt="Default" >
													</div>
												{% endif %}
				                            </td>
				                            <td class="center">
				                              	{% if aide.name|length > 0 %}
				                              		{{ aide.name }}
				                              	{% else %}
				                              		---
				                              	{% endif %}
				                            </td>
				                            <td class="center">
				                              	{% if aide.description|length > 0 %}
				                              		{{ aide.description | truncate(100, false, '...')  }}
				                              	{% else %}
				                              		---
				                              	{% endif %}
				                            </td>
				                            <td class="center">
				                              	{% if aide.price|length > 0 %}
				                              		{{ aide.price }} €
				                              	{% else %}
				                              		-
				                              	{% endif %}
				                            </td>
				                            <td class="center">
				                              	{% if aide.createdAt|length > 0 %}
				                              		{{ aide.createdAt|date("d/M/Y") }}
				                              	{% else %}
				                              		---
				                              	{% endif %}
				                            </td>
				                            <td class="center">
				                              	{% if aide.updatedAt|length > 0 %}
				                              		{{ aide.updatedAt|date("d/M/Y") }}
				                              	{% else %}
				                              		---
				                              	{% endif %}
				                            </td>
				                            <th class="center hover_popup">
				                            	{% if aide.status %}
				                              		{% if aide.status == "active" %}
				                              			Active
				                              		{% elseif aide.status == "toCome" %}
				                              			A venir
				                              		{% elseif aide.status == "inactive" %}
				                              			Inactive
				                              		{% else %}
				                              			Erreur
				                              			<span class="italic">
				                              				Vous devez choisir parmi les statuts proposés
					                              		</span>
				                              		{% endif %}
				                              	{% else %}
				                              		Erreur
				                              		<span class="italic">
														Vous devez choisir parmi les statuts proposés
				                              		</span>
				                              	{% endif %}
				                            </th>
				                            <td class="center">
				                            	<a href="javascript:loadContentAdmin('{{ path('ma_user_aides_edit', {'aideId':aide.id}) }}')" class="btn btn-action-admin-icon">
					                            	<span class="glyphicon glyphicon-pencil"></span>
				                            	</a>
				                            	<a href="javascript:areYouSureDeleteAide('{{ path('ma_user_aides_delete', {'aideId':aide.id}) }}')" class="btn btn-action-admin-icon">
					                            	<span class="glyphicon glyphicon-trash"></span>
				                            	</a>
				                            </td>
			                            </tr>
			                          {% endfor %}
			                        </tbody>
			                      </table>
			                    </div>
							{% else %}
								<div class="center col-md-9">
									Désolé, aucune aide...
								</div>
								<div class="col-md-3"></div>
							{% endif %}
				    	</div>

		    			<br/><br/><br/>
		    			<!-- ADMIN JAVASCRIPTS -->
					    {% javascripts 
					      'js/admin_javascripts_misAnd.js'

					      %}
					      <script type="text/javascript" src="{{ asset_url }}"></script>
					    {% endjavascripts %}
					    <!-- END ADMIN JAVASCRIPTS -->
				  	</div>
				  	
	        	{% else %}
	        		<div>
	        			<br/><br/><br/><br/><br/>
	        			Vous n'êtes pas autorisé(e) à naviguer dans cette partie du site !
	        		</div>
	        	{% endif %}

			</div>
		</div>
	</div>
	<!-- END CONTENT -->

{% endblock MA_User_body %}
