{# src/MA/UserBundle/Resources/User/articles.html.twig #}

{% extends "MAUserBundle::user_general.html.twig" %}

{% block title %}
  {{ parent() }} - Admin - Articles
{% endblock %}

{% block MA_User_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">
			<div class="section section_admin" id="section6">
				
				<!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
	        	{% if is_granted("ROLE_ADMIN") %}

	        		<!-- BEGIN nav admin -->
			          {% include 'includes/nav_admin.html.twig' %}
			        <!-- END nav admin -->

				  	<div id="section_admin" class="row center">
						<div class="row92">
			    			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 left">
								<br/><br/>
								<div class="thumbnail thumbnail_article">
									<h3 class="left">
										Articles :
									</h3>
									{% if articles|length > 0 %}
										<ul class="list_no_style_li list_articles_admin">
											{% for single_article in articles %}
												<li class="article_link {% if single_article == articleAsked %}li_article_active{% endif %}" id="article_n_{{ single_article.id }}">
													<a href="javascript:displaySelectedArticle('{{ path('ma_user_article_spe', {'articleId':single_article.id}) }}', 'article_n_{{ single_article.id }}')" class="no_style_a">
														{{ single_article.title|truncate(40, false, '...') }}
														<span class="float-right arrow_article">
															<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt=""/>
														</span>
														<span class="float-right date_article">
															{% if single_article.createdAt|length > 0 %}
																{{ single_article.createdAt|date('d M Y') }}
															{% else %}
																(Vide)
															{% endif %}
														</span>
													</a>
												</li>
											{% endfor %}
										</ul>
									{% else %}
										Aucun article
									{% endif %}
								</div>
							</div>

							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
								<div id="article_content">
									<div class="row">
					    				<a class="btn btn-action-admin float-left" href="{{ path('ma_user_article_new') }}">
					    					Nouveau
					    				</a>
					    				{% if articles|length > 0 %}
					    				<a class="btn btn-action-admin float-right logout-btn-admin"  href="javascript:areYouSureDeleteArticle('{{ path('ma_user_article_delete', {'articleId':articleAsked.id}) }}')">
					    					Supprimer
					    				</a>
					    				<a class="btn btn-action-admin float-right"  href="{{ path('ma_user_article_edit', {'articleId':articleAsked.id}) }}">
					    					Modifier
					    				</a>
					    				{% endif %}
					    			</div>
					    			<br/><br/>
					    			<div class="row left">
					    				
										{% if articleAsked %}
											<div>
												{% if articleAsked.alt|length > 0  and articleAsked.url|length > 0 %}
													<div class="article_photo_container">
														<div class="article_photo_admin" style="width: 100%; min-height:100px; background-image: url('{{ asset( articleAsked.webPath) }}'); background-size: cover; background-position: 50%;" alt="{{ articleAsked.alt }}" onClick="showPhotoCarousel('{{ asset(articleAsked.webPath) }}')">
									                    </div>
													</div>
							                   {% else %}
													<div class="article_photo_container">
								                   		<div class="article_photo_admin" style="width: 100%; min-height:100px; background-image: url('{{ asset('img/system/defaults/default_article_photo.png') }}'); background-size: cover; background-position: 50%;" alt="Default" onClick="showPhotoCarousel('{{ asset('img/system/defaults/default_article_photo.png') }}')">
									                    </div>
													</div>
							                   {% endif %}
											</div>
											<div class="">
												<div class="row">
													<h4>
														{% if articleAsked.title|length > 0 %}
															{{ articleAsked.title|raw }}
														{% else %}
															(Titre vide)
														{% endif %}
													</h4>
													<div class="center date_article_lg">
														{% if articleAsked.place|length > 0 %}
															{{ articleAsked.place }},
														{% endif %}
														{% if articleAsked.createdAt|length > 0 %}
															le {{ articleAsked.createdAt|date('d M Y') }} à {{ articleAsked.createdAt|date('H:i') }}
														{% endif %}
													</div>
												</div>
												
												<div class="row80">
													{% if articleAsked.content|length > 0 %}
														{{ articleAsked.content|raw }}
													{% else %}
														(Article vide)
													{% endif %}
												</div>
											</div>
										{% endif %}
					    			</div>
								</div>
							</div>
		    			</div>

		    			<br/><br/><br/>
		    			<!-- ADMIN JAVASCRIPTS -->
					    {% javascripts 
					      'js/admin_javascripts_misAnd.js'

					      %}
					      <script type="text/javascript" src="{{ asset_url }}"></script>
					    {% endjavascripts %}
					    <!-- END ADMIN JAVASCRIPTS -->
				  	</div>
				  	
	        	{% else %}
	        		<div>
	        			<br/><br/><br/><br/><br/>
	        			Vous n'êtes pas autorisé(e) à naviguer dans cette partie du site !
	        		</div>
	        	{% endif %}

			</div>
		</div>
	</div>
	<!-- END CONTENT -->

{% endblock MA_User_body %}
