{# src/MA/UserBundle/Resources/User/articles.html.twig #}

{% extends "MAUserBundle::user_general.html.twig" %}

{% block title %}
  {{ parent() }} - Admin - Articles - Nouveau
{% endblock %}

{% block MA_User_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">
			<div class="section" id="section6">

				<h1 class="margin_bottom_10">
					Administration du site
				</h1>
				<br/>
				
				<!-- BEGIN social -->
		            {% include 'includes/nav_admin.html.twig' %}
		        <!-- END social -->
				
				<div class="row">
	    			<form method="post" {{ form_enctype(formNewArticle) }}>
		        		{% if form_errors(formNewArticle) %}
		                    <div class="error_message">
		                      <span class="warning_word">
		                        {{ 'user.warning.warning'|trans }}
		                      </span>
		                      <span class="warning_message">
		                        {{ form_errors(formNewArticle) }}
		                      </span>
		                    </div>
		                    <br/>
		                  {% endif %}
						<div class="row80">
							<div class="form-group">
						        {{ form_label(formNewArticle.title, 'Titre', 
						        	{'label_attr': {'class': 'control-label'}}) }}
						        {% if form_errors(formNewArticle.title) %}
				                    <div class="error_message">
				                      	<span class="warning_word">
				                        	{{ 'user.warning.warning'|trans }}
				                      	</span>
				                      	<span class="warning_message">
				                        	{{ form_errors(formNewArticle.title) }}
				                      	</span>
				                    </div>
				                    <br/>
				                {% endif %}
								<div class="input-icon">
						        	<i class="fa fa-user"></i>
						        	{% set opt_title = {'attr': {'class': 'form-control placeholder-no-fix',
						        		'type':'text', 'placeholder':"L'arrivée majestueuse d'un article à propos d'un sujet en particulier", 'id':'_title', 
						        		'name':'_title'}} %}
						        	{{ form_widget(formNewArticle.title, opt_title) }}
						        </div>
							</div>
							<div class="form-group">
						        {{ form_label(formNewArticle.content, 'Contenu', 
						        	{'label_attr': {'class': 'control-label'}}) }}
						        {% if form_errors(formNewArticle.content) %}
				                    <div class="error_message">
				                      	<span class="warning_word">
				                        	{{ 'user.warning.warning'|trans }}
				                      	</span>
				                      	<span class="warning_message">
				                        	{{ form_errors(formNewArticle.content) }}
				                      	</span>
				                    </div>
				                    <br/>
				                {% endif %}
								<div class="input-icon">
						        	<i class="fa fa-user"></i>
						        	{% set opt_content = {'attr': { 'class': 'ckeditor',
						        		'placeholder':"L'arrivée majestueuse d'un contenu d'article, à propos d'un sujet en particulier", 'id':'_content', 
						        		'name':'_content'}} %}
						        	{{ form_widget(formNewArticle.content, opt_content) }}
						        </div>

							</div>

							<div>
								<br/><br/>
							</div>

							<!-- Et pour le reste du formulaire ... ;) -->
							{{ form_widget(formNewArticle) }}
							<input type="submit" class="btn float-right"
								value="Enregistrer"/>
						</div>
					</form>
    			</div>
				

			</div>
		</div>
	</div>
	<!-- END CONTENT -->

{% endblock MA_User_body %}
