{# src/MA/UserBundle/Resources/User/BGPhotos.html.twig #}

{% extends "MAUserBundle::user_general.html.twig" %}

{% block title %}
  {{ parent() }} - Admin - Fonds de page
{% endblock %}

{% block MA_User_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">
			<div class="section section_admin" id="section6">
				
				<!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
	        	{% if is_granted("ROLE_ADMIN") %}

	        		<!-- BEGIN nav admin -->
			          {% include 'includes/nav_admin.html.twig' %}
			        <!-- END nav admin -->

				  	<div id="section_admin" class="row center">
				  		<div class="row">
				  			<p class="center italic">
		    					Si les photos ne s'affichent pas correctement, rafraîchir la page.
		    				</p>
				  		</div>
						<div class="row">
				    		{% if BGPhotos|length > 0 %}
								<div class="table-responsive">
			                      <table class="table">
			                        <thead>
			                          <tr>
			                            <th class="center">
			                              	Id
			                            </th>
			                            <th class="center">
			                              	Image
			                            </th>
			                            <th class="center">
			                              	Section
			                            </th>
			                            <th class="center">
			                              	Modifiée le
			                            </th>
			                            <th class="center">
			                              	Action
			                            </th>
			                          </tr>
			                        </thead>
			                        <tbody>
			                          {% for photo in BGPhotos %}
			                            <tr>
			                            	<th class="center">
				                              {{ photo.id }}
				                            </th>
				                            <td class="center">
				                              	{% if photo.alt|length > 0 and photo.url|length > 0 %}
													<div class="coverPhoto_img_admin" style="background-image: url('{{ asset(photo.webPath) }}'); background-size: cover; background-position: 50%; min-height:60px; ">
													</div>
												{% else %}
													<div class="coverPhoto_img_admin" style="background-image: url('{{ asset('img/system/defaults/default_img.png') }}'); background-size: cover; background-position: 50%; min-height:60px; ">
													</div>
												{% endif %}
				                            </td>
				                            <td class="center">
				                              	{% if photo.sectionName|length > 0 %}
				                              		{% if photo.sectionName == "actu" %}
				                              			Actualité
				                              		{% elseif photo.sectionName == "ecoliers" %}
				                              			Ecoliers
				                              		{% elseif photo.sectionName == "etudiants" %}
				                              			Etudiants
				                              		{% elseif photo.sectionName == "jeunesPro" %}
				                              			Jeunes pro
				                              		{% elseif photo.sectionName == "besoins" %}
				                              			Nos besoins
				                              		{% elseif photo.sectionName == "association" %}
				                              			L'association
				                              		{% else %}
				                              			Erreur
				                              			<span class="italic">
				                              				Vous devez choisir parmi les statuts proposés
					                              		</span>
				                              		{% endif %}
				                              	{% else %}
				                              		Erreur
				                              		<span class="italic">
														Vous devez choisir parmi les statuts proposés
				                              		</span>
				                              	{% endif %}
				                            </td>
				                            <td class="center">
				                              	{% if photo.updatedAt|length > 0 %}
				                              		{{ photo.updatedAt|date("d/M/Y") }}
				                              	{% else %}
				                              		---
				                              	{% endif %}
				                            </td>
				                            <td class="center">
				                            	<a href="javascript:loadContentAdmin('{{ path('ma_user_BG_photos_edit', {'BGPhotoId':photo.id}) }}')" class="btn btn-action-admin-icon">
					                            	<span class="glyphicon glyphicon-pencil"></span>
				                            	</a>
				                            </td>
			                            </tr>
			                          {% endfor %}
			                        </tbody>
			                      </table>
			                    </div>
							{% else %}
								<div class="center col-md-9">
									Désolé, aucune photo ...
								</div>
								<div class="col-md-3"></div>
							{% endif %}
				    	</div>

		    			<br/><br/><br/>
		    			<!-- ADMIN JAVASCRIPTS -->
					    {% javascripts 
					      'js/admin_javascripts_misAnd.js'

					      %}
					      <script type="text/javascript" src="{{ asset_url }}"></script>
					    {% endjavascripts %}
					    <!-- END ADMIN JAVASCRIPTS -->
				  	</div>
				  	
	        	{% else %}
	        		<div>
	        			<br/><br/><br/><br/><br/>
	        			Vous n'êtes pas autorisé(e) à naviguer dans cette partie du site !
	        		</div>
	        	{% endif %}

			</div>
		</div>
	</div>
	<!-- END CONTENT -->

{% endblock MA_User_body %}
