{# src/MA/UserBundle/Resources/User/content.html.twig #}

{% extends "MAUserBundle::user_general.html.twig" %}

{% block title %}
  {{ parent() }} - Admin - Contenu du site
{% endblock %}

{% block MA_User_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">
			<div class="section section_admin" id="section6">
				
				<!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
	        	{% if is_granted("ROLE_ADMIN") %}

	        		<!-- BEGIN nav admin -->
			          {% include 'includes/nav_admin.html.twig' %}
			        <!-- END nav admin -->

				  	<div id="section_admin" class="row center">
				  		<div class="row92">
			    			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 left">
								<br/><br/>
								<div class="thumbnail thumbnail_page">
									<h3 class="left">
										Pages :
									</h3>
									{% if pages|length > 0 %}
										<ul class="list_no_style_li list_pages_admin">
											{% for single_page in pages %}
												<li class="page_link {% if single_page == pageAsked %}li_page_active{% endif %}" id="page_n_{{ single_page.id }}">
													<a href="javascript:displaySelectedPage('{{ path('ma_user_content_spe', {'pageId':single_page.id}) }}', 'page_n_{{ single_page.id }}')" class="no_style_a">
														{{ single_page.name|truncate(40, false, '...') }}
														<span class="float-right arrow_page">
															<img src="{{ asset('img/system/defaults/right_arrow_spe.png') }}" alt=""/>
														</span>
														<span class="float-right date_page">
															{% if single_page.updatedAt|length > 0 %}
																{{ single_page.updatedAt|date('d M Y') }}
															{% else %}
																(Vide)
															{% endif %}
														</span>
													</a>
												</li>
											{% endfor %}
										</ul>
									{% else %}
										Aucune page
									{% endif %}
								</div>
							</div>

							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
								<div id="page_content_content">
									<br/>
									<div class="row">
					    				{% if pages|length > 0 %}
					    				<a class="btn btn-action-admin float-right"  href="{{ path('ma_user_content_edit', {'pageId':pageAsked.id}) }}">
					    					Modifier
					    				</a>
					    				{% endif %}
					    			</div>
					    			<br/>
					    			<div class="row left">
					    				
										{% if pageAsked %}
											<div class="">
												<div class="row">
													{% if pageAsked.type == "ltc" %}
														{% if pageAsked.alt|length > 0  and pageAsked.url|length > 0 %}
															<div class="article_photo_admin" style="width: 100%; min-height:50px; background-image: url('{{ asset( pageAsked.webPath) }}'); background-size: cover; background-position: 50%;" alt="{{ pageAsked.alt }}" onClick="showPhotoCarousel('{{ asset(pageAsked.webPath) }}')">
										                    </div>
									                   	{% else %}
									                   		<div class="article_photo_admin" style="width: 100%; min-height:50px; background-image: url('{{ asset( 'img/system/defaults/default_article_photo.png') }}'); background-size: cover; background-position: 50%;" alt="Default">
										                    </div>
									                   	{% endif %}
														<br/>
													{% endif %}
													<h4>
														{% if pageAsked.title|length > 0 %}
															{{ pageAsked.title|raw }}
														{% else %}
															(Titre vide)
														{% endif %}
													</h4>
													<div class="center date_page_lg">
														{% if pageAsked.updatedAt|length > 0 %}
															le {{ pageAsked.updatedAt|date('d M Y') }} à {{ pageAsked.updatedAt|date('H:i') }}
														{% else %}
															(date vide)
														{% endif %}
													</div>
													{% if pageAsked.dataBaseName|length > 0 %}
													<div class="center">
														<strong>Nom DB: </strong>{{ pageAsked.dataBaseName }}
													</div>
													{% endif %}
													{% if pageAsked.type|length > 0 %}
													<div class="center">
														<strong>Type: </strong>
														{% if pageAsked.type == "ltc" %}
															Logo, Titre, Contenu
														{% elseif pageAsked.type == "tc" %}
															Titre, Contenu
														{% elseif pageAsked.type == "c" %}
															Contenu
														{% else %}
															... erreur
														{% endif %}	
													</div>
													{% endif %}
												</div>

												<br/>
												
												<div class="row80">
													{% if pageAsked.content|length > 0 %}
														{{ pageAsked.content|raw }}
													{% else %}
														(page vide)
													{% endif %}
												</div>

												<br/><br/>
											</div>
										{% endif %}
					    			</div>
								</div>
							</div>
		    			</div>


				  		<!-- ADMIN JAVASCRIPTS -->
					    {% javascripts 
					      'js/admin_javascripts_misAnd.js'

					      %}
					      <script type="text/javascript" src="{{ asset_url }}"></script>
					    {% endjavascripts %}
					    <!-- END ADMIN JAVASCRIPTS -->
				  	</div>
				  	
	        	{% else %}
	        		<div>
	        			<br/><br/><br/><br/><br/>
	        			Vous n'êtes pas autorisé(e) à naviguer dans cette partie du site !
	        		</div>
	        	{% endif %}

			</div>
		</div>
	</div>
	<!-- END CONTENT -->

{% endblock MA_User_body %}
