{# src/MA/UserBundle/Resources/User/contentNew.html.twig #}

{% extends "MAUserBundle::user_general.html.twig" %}

{% block title %}
  {{ parent() }} - Admin - Modification de page
{% endblock %}

{% block MA_User_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">
			<div class="section section_admin" id="section6">

				<!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
	        	{% if is_granted("ROLE_ADMIN") %}

	        		<!-- BEGIN nav admin -->
			          {% include 'includes/nav_admin.html.twig' %}
			        <!-- END nav admin -->

				  	<div id="section_admin" class="row left">
				  		<div class="row80">
				  			<a class="btn btn-action-admin" href="javascript:loadContentAdmin('{{ path('ma_user_content') }}')">
				  				<img src="{{ asset('img/system/defaults/left_arrow.png') }}" alt="" class="btn_arrow"/>
		    					Retour
		    				</a>
				  		</div>
				  		<br/>
						<div class="row">
			    			<form method="post" {{ form_enctype(formNewPage) }}>
				        		{% if form_errors(formNewPage) %}
				                    <div class="error_message">
				                      <span class="warning_word">
				                        {{ 'user.warning.warning'|trans }}
				                      </span>
				                      <span class="warning_message">
				                        {{ form_errors(formNewPage) }}
				                      </span>
				                    </div>
				                    <br/>
				                  {% endif %}
								<div class="row80">
									<div class="form-group">
								        {{ form_label(formNewPage.name, "Nom pour l'administration", 
								        	{'label_attr': {'class': 'control-label'}}) }}
								        {% if form_errors(formNewPage.name) %}
						                    <div class="error_message">
						                      	<span class="warning_word">
						                        	{{ 'user.warning.warning'|trans }}
						                      	</span>
						                      	<span class="warning_message">
						                        	{{ form_errors(formNewPage.name) }}
						                      	</span>
						                    </div>
						                    <br/>
						                {% endif %}
										<div class="input-icon">
								        	<i class="fa fa-user"></i>
								        	{% set opt_name = {'attr': {'class': 'form-control placeholder-no-fix',
								        		'type':'text', 'placeholder':"Nom de la page", 'id':'_name', 
								        		'name':'_name'}} %}
								        	{{ form_widget(formNewPage.name, opt_name) }}
								        </div>
									</div>
									<div class="form-group">
										{{ form_label(formNewPage.type, "Type de page", 
								        	{'label_attr': {'class': 'control-label'}}) }}
								        {% if form_errors(formNewPage.type) %}
						                    <div class="error_message">
						                      	<span class="warning_word">
						                        	{{ 'user.warning.warning'|trans }}
						                      	</span>
						                      	<span class="warning_message">
						                        	{{ form_errors(formNewPage.type) }}
						                      	</span>
						                    </div>
						                    <br/>
						                {% endif %}
										<div class="input-icon">
								        	<i class="fa fa-user"></i>
								        	{% set opt_type = {'attr': {'type':'type', 'id':'type', 'name':'_type', 'onchange':'displayPageOptions()'}} %}
								        	{{ form_widget(formNewPage.type, opt_type) }}
								        </div>
									</div>
							        <script type="text/javascript">
					                  	function displayPageOptions() {
					                  		var e = document.getElementById("ma_mainbundle_page_type");
					                  		var optionSelected = e.options[e.selectedIndex].value;
					                      	if (optionSelected == "ltc") { 
					                      		document.getElementById('photoInput').style.display = 'block';
					                      		document.getElementById('titleInput').style.display = 'block';
					                      		document.getElementById('contentInput').style.display = 'block';
					                      	}
					                      	else if (optionSelected == "tc") { 
					                      		document.getElementById('photoInput').style.display = 'none';
					                      		document.getElementById('titleInput').style.display = 'block';
					                      		document.getElementById('contentInput').style.display = 'block';

					                      	}
					                      	else if (optionSelected == "c") { 
					                      		document.getElementById('photoInput').style.display = 'none';
					                      		document.getElementById('titleInput').style.display = 'none';
					                      		document.getElementById('contentInput').style.display = 'block';
					                      	}
					                      	else {
					                        	document.getElementById('photoInput').style.display = 'none';
					                      		document.getElementById('titleInput').style.display = 'none';
					                      		document.getElementById('contentInput').style.display = 'none';
					                        }
					                    }
					                </script>

					                <div class="form-group" id="photoInput">
										{{ form_label(formNewPage.file, "Photo", 
								        	{'label_attr': {'class': 'control-label'}}) }}
								        {% if form_errors(formNewPage.file) %}
						                    <div class="error_message">
						                      	<span class="warning_word">
						                        	{{ 'user.warning.warning'|trans }}
						                      	</span>
						                      	<span class="warning_message">
						                        	{{ form_errors(formNewPage.file) }}
						                      	</span>
						                    </div>
						                    <br/>
						                {% endif %}
										<div class="input-icon">
								        	<i class="fa fa-user"></i>
								        	{% set opt_file = {'attr': {'type':'file', 'id':'file', 'name':'_file'}} %}
								        	{{ form_widget(formNewPage.file, opt_file) }}
								        </div>
									</div>

									<div class="form-group" id="titleInput">
								        {{ form_label(formNewPage.title, 'Titre apparent', 
								        	{'label_attr': {'class': 'control-label'}}) }}
								        {% if form_errors(formNewPage.title) %}
						                    <div class="error_message">
						                      	<span class="warning_word">
						                        	{{ 'user.warning.warning'|trans }}
						                      	</span>
						                      	<span class="warning_message">
						                        	{{ form_errors(formNewPage.title) }}
						                      	</span>
						                    </div>
						                    <br/>
						                {% endif %}
										<div class="input-icon">
								        	<i class="fa fa-user"></i>
								        	{% set opt_title = {'attr': {'class': 'form-control placeholder-no-fix',
								        		'type':'text', 'placeholder':"Titre apparent de la page", 'id':'_title', 
								        		'name':'_title'}} %}
								        	{{ form_widget(formNewPage.title, opt_title) }}
								        </div>
									</div>
									<div class="form-group" id="contentInput">
								        {{ form_label(formNewPage.content, 'Contenu apparent', 
								        	{'label_attr': {'class': 'control-label'}}) }}
								        {% if form_errors(formNewPage.content) %}
						                    <div class="error_message">
						                      	<span class="warning_word">
						                        	{{ 'user.warning.warning'|trans }}
						                      	</span>
						                      	<span class="warning_message">
						                        	{{ form_errors(formNewPage.content) }}
						                      	</span>
						                    </div>
						                    <br/>
						                {% endif %}
										<div class="input-icon">
								        	<i class="fa fa-user"></i>
								        	{% set opt_content = {'attr': { 'class': 'redactor',
								        		'placeholder':"Contenu de la page", 'id':'_content', 
								        		'name':'_content'}} %}
								        	{{ form_widget(formNewPage.content, opt_content) }}
								        </div>

									</div>

									<div class="form-group">
								        {{ form_label(formNewPage.dataBaseName, 'Nom dans la base de données', 
								        	{'label_attr': {'class': 'control-label'}}) }}
								        {% if form_errors(formNewPage.dataBaseName) %}
						                    <div class="error_message">
						                      	<span class="warning_word">
						                        	{{ 'user.warning.warning'|trans }}
						                      	</span>
						                      	<span class="warning_message">
						                        	{{ form_errors(formNewPage.dataBaseName) }}
						                      	</span>
						                    </div>
						                    <br/>
						                {% endif %}
										<div class="input-icon">
								        	<i class="fa fa-user"></i>
								        	{% set opt_dataBaseName = {'attr': {'class': 'form-control placeholder-no-fix',
								        		'type':'text', 'placeholder':"Nom dans la base de données (ex: Page_Principale)", 'id':'_dataBaseName', 
								        		'name':'_dataBaseName'}} %}
								        	{{ form_widget(formNewPage.dataBaseName, opt_dataBaseName) }}
								        </div>
									</div>

									<div>
										<br/><br/>
									</div>

									<!-- Et pour le reste du formulaire ... ;) -->
									{{ form_widget(formNewPage) }}
									<div class="center">
										<input type="submit" class="btn btn-log" value="Enregistrer"/>
									</div>
								</div>
							</form>
		    			</div>
		    			<!-- ADMIN JAVASCRIPTS -->
					    {% javascripts 
					      'js/admin_javascripts_misAnd.js'

					      %}
					      <script type="text/javascript" src="{{ asset_url }}"></script>
					    {% endjavascripts %}
					    <!-- END ADMIN JAVASCRIPTS -->
				  	</div>
				  	
	        	{% else %}
	        		<div>
	        			<br/><br/><br/><br/><br/>
	        			Vous n'êtes pas autorisé(e) à naviguer dans cette partie du site !
	        		</div>
	        	{% endif %}

			</div>
		</div>
	</div>
	<!-- END CONTENT -->

{% endblock MA_User_body %}
