{# src/MA/UserBundle/Resources/User/diapos.html.twig #}

{% extends "MAUserBundle::user_general.html.twig" %}

{% block title %}
  {{ parent() }} - Admin - Diapos
{% endblock %}

{% block MA_User_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">
			<div class="section section_admin" id="section6">
				
				<!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
	        	{% if is_granted("ROLE_ADMIN") %}

	        		<!-- BEGIN nav admin -->
			          {% include 'includes/nav_admin.html.twig' %}
			        <!-- END nav admin -->

				  	<div id="section_admin" class="row center">
				  		<div class="row92">
							<div class="row">
			    				<a class="btn btn-action-admin float-left" href="javascript:loadContentAdmin('{{ path('ma_user_diapos_new') }}')">
			    					Ajouter
			    				</a>
			    				<p class="center italic">
			    					Si les photos ne s'affichent pas en carré, rafraîchir la page.
			    				</p>
			    			</div>

			    			<br/>

			    			<div class="row">
			    				{% if diapos|length > 0 %}
									{% for diapo in diapos %}
										<div class="col-md-2 col-xs-2 diapo_admin">
											<div class="article_diapo_container">
												{% if diapo.alt|length > 0 and diapo.url|length > 0 %}
													<div class="diapo_default curve" style="width: 100%; min-height:100px; background-image: url('{{ asset( diapo.webPath) }}'); background-size: cover; background-position: 50%;" alt="{{ diapo.alt }}" onClick="showPhotoCarousel('{{ asset(diapo.webPath) }}')">
								                    </div>
												{% else %}
													<div class="diapo_default curve" style="background-size: 100%; background-image: url('{{ asset('img/system/defaults/default_img.png') }}'); background-size: cover; background-position: 50%;">
													</div>
												{% endif %}
											</div>
											<div class="row">
												<strong>
													{{ diapo.alt }}
												</strong>
												<br/>
												{{ diapo.createdAt|date('d M Y') }}
												<br/>
												<a href="javascript:areYouSureDeleteDiapo('{{ path('ma_user_diapos_delete', {'diapoId':diapo.id}) }}')" class="center">
				                              		<button class="btn btn-delete-admin">
					                              		<span class="glyphicon black glyphicon-trash" aria-hidden="true"></span>
				                              		</button>
				                              	</a>
											</div>
										</div>
									{% endfor %}
								{% else %}
									<p class="center">
										<br/><br/><br/>
										Aucune diapo pour l'instant
									</p>
								{% endif %}
			    			</div>
		    			</div>


				  		<!-- ADMIN JAVASCRIPTS -->
					    {% javascripts 
					      'js/admin_javascripts_misAnd.js'

					      %}
					      <script type="text/javascript" src="{{ asset_url }}"></script>
					    {% endjavascripts %}
					    <!-- END ADMIN JAVASCRIPTS -->
				  	</div>
				  	
	        	{% else %}
	        		<div>
	        			<br/><br/><br/><br/><br/>
	        			Vous n'êtes pas autorisé(e) à naviguer dans cette partie du site !
	        		</div>
	        	{% endif %}

			</div>
		</div>
	</div>
	<!-- END CONTENT -->

{% endblock MA_User_body %}
