{# src/MA/UserBundle/Resources/User/diapoNew.html.twig #}

{% extends "MAUserBundle::user_general.html.twig" %}

{% block title %}
  {{ parent() }} - Admin - Ajout de diapo
{% endblock %}

{% block MA_User_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">
			<div class="section section_admin" id="section6">

				<!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
	        	{% if is_granted("ROLE_ADMIN") %}

	        		<!-- BEGIN nav admin -->
			          {% include 'includes/nav_admin.html.twig' %}
			        <!-- END nav admin -->

				  	<div id="section_admin" class="row left">
				  		<div class="row80">
				  			<a class="btn btn-action-admin" href="javascript:loadContentAdmin('{{ path('ma_user_diapos') }}')">
				  				<img src="{{ asset('img/system/defaults/left_arrow.png') }}" alt="" class="btn_arrow"/>
		    					Retour
		    				</a>
				  		</div>
				  		<br/>
						<div class="row">
			    			<form method="post" {{ form_enctype(formNewDiapo) }}>
				        		{% if form_errors(formNewDiapo) %}
				                    <div class="error_message">
				                      <span class="warning_word">
				                        {{ 'user.warning.warning'|trans }}
				                      </span>
				                      <span class="warning_message">
				                        {{ form_errors(formNewDiapo) }}
				                      </span>
				                    </div>
				                    <br/>
				                  {% endif %}

				                <div class="row80 left">
				                	Pour les diapos, éviter les fichiers plus lourds que 100Ko <strong>(idéalement 50Ko pour 400px max de largeur ou hauteur)</strong> :
				                </div>
				                <br/>
								<div class="row80">
									<div class="form-group">
										{{ form_label(formNewDiapo.file, "Photo de la diapo à ajouter", 
								        	{'label_attr': {'class': 'control-label'}}) }}
								        {% if form_errors(formNewDiapo.file) %}
						                    <div class="error_message">
						                      	<span class="warning_word">
						                        	{{ 'user.warning.warning'|trans }}
						                      	</span>
						                      	<span class="warning_message">
						                        	{{ form_errors(formNewDiapo.file) }}
						                      	</span>
						                    </div>
						                    <br/>
						                {% endif %}
										<div class="input-icon">
								        	<i class="fa fa-user"></i>
								        	{% set opt_file = {'attr': {'type':'file', 'id':'file', 'name':'_file'}} %}
								        	{{ form_widget(formNewDiapo.file, opt_file) }}
								        </div>
									</div>

									<div>
										<br/><br/>
									</div>

									<!-- Et pour le reste du formulaire ... ;) -->
									{{ form_widget(formNewDiapo) }}
									<div class="center">
										<input type="submit" class="btn btn-log" value="Enregistrer"/>
									</div>
								</div>
							</form>
		    			</div>
		    			<!-- ADMIN JAVASCRIPTS -->
					    {% javascripts 
					      'js/admin_javascripts_misAnd.js'

					      %}
					      <script type="text/javascript" src="{{ asset_url }}"></script>
					    {% endjavascripts %}
					    <!-- END ADMIN JAVASCRIPTS -->
				  	</div>
				  	
	        	{% else %}
	        		<div>
	        			<br/><br/><br/><br/><br/>
	        			Vous n'êtes pas autorisé(e) à naviguer dans cette partie du site !
	        		</div>
	        	{% endif %}

			</div>
		</div>
	</div>
	<!-- END CONTENT -->

{% endblock MA_User_body %}
