{# src/MA/MainBundle/Resources/Main/indexMain.html.twig #}

{% extends "MAMainBundle::main_general.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block MA_Main_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">

			<div class="section section_helpUs" id="helpUs">
				<div class="row">
					<h2>
						Nous aider
					</h2>
					<!-- <hr class="dark_hr"/> -->
				</div>

				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					    <div class="thumbnail">
					      <div class="caption">
					        <h3>
					        	Répartitions des dons
					        </h3>
				        	<div class="row">
					        	<div class="progress">
								  <div class="progress-bar progress-bar-success progress-bar-striped active" style="width: 95%">
								  </div>
								  <div class="progress-bar progress-bar progress-bar-striped active" style="width: 5%">
								  </div>
								</div>
				        	</div>
				        	<div class="row">
				        		<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 left">
				        			<strong>95%</strong> pour les bénéficiaires, écoliers, étudiants et jeunes pro et leurs projets divers et variés
				        		</div>
				        		<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 right border_black_left">
				        			<strong>5%</strong> pour le bon fonctionnement de l'association
				        		</div>
				        	</div>
					      </div>
					    </div>

					    <br/>

					    <div class="thumbnail">
					    	<div class="caption">
					      		{% set nousAiderContribution = '' %}
								{% if pages|length > 0 %}
									{% for page in pages %}
										{% if page.dataBaseName == 'NousAider_Contributions' %}
											{% set nousAiderContribution = page %}
										{% endif %}
									{% endfor %}
								{% endif %}
						        <h3>
						        	{{ nousAiderContribution.title }}
						        </h3>
						        {{ nousAiderContribution.content|raw }}
					      	</div>
					    </div>

					    <br/>

					    <div class="thumbnail">
					    	<div class="caption">
					      		{% set nousAiderPartenaires = '' %}
								{% if pages|length > 0 %}
									{% for page in pages %}
										{% if page.dataBaseName == 'NousAider_Partenaires' %}
											{% set nousAiderPartenaires = page %}
										{% endif %}
									{% endfor %}
								{% endif %}
						        <h3>
						        	{{ nousAiderPartenaires.title }}
						        </h3>

								{% if partenaires|length > 0 %}
						        {{ nousAiderPartenaires.content|raw }}
								<div class="row">
									{% for partenaire in partenaires %}
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 photo_partner_container">
										<a href="{{ partenaire.website }}" class="no_style_a" target="_blank">
											<div class="row photo_partner_content">
												<div class="row80">
													{% if partenaire.alt|length > 0 and partenaire.url|length > 0 %}
														<div class="photo_partner" style="width: 100%; min-height:50px; background-image: url('{{ asset(partenaire.webPath) }}'); background-size: cover; background-position: 50%;" alt="{{ partenaire.name }}">
									                    </div>
													{% else %}
														<div class="photo_partner" style="background-size: 100%; background-image: url('{{ asset('img/system/defaults/default_img.png') }}'); background-size: cover; background-position: 50%;">
														</div>
													{% endif %}
													
												</div>
												<div class="center">
													<strong>
														{{ partenaire.name }}
													</strong>
													<br/>
													<span class="partner_link italic">
														{{ partenaire.website }}
													</span>
												</div>
											</div>
										</a>
									</div>
									{% endfor %}
								</div>
								{% else %}
								<p class="center">
									Aucun partenaire pour le moment.
								</p>
								{% endif %}
					      	</div>
					    </div>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						    <h4 class="left">
						    	Je préfère :
						    </h4>
						    <div class="row">
						    	<h5>
						    		1. Faire un don directement
						    	</h5>
						    	<hr class="medium_hr"/>
						    	<div class="row">
							    	<form action=" ">
							    		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
							    			<div class="message_warning">
								    			-- En construction. -- 
								    			<br/>
								    			Disponible très prochainement avec déduction fiscale des impôts.
							    			</div>
											<!-- Pour cela, je décide de combien je donne :
											<ul class="list_no_style_li inline_li">
											    <li>
											    	<label>
											    		<input name="amount-once" type="radio" value="20" id="amount_20">
											    		<span id="amount_20">20 €</span> 
											    	</label>
											    </li>
											    <li>
											    	<label>
											    		<input name="amount-once" type="radio" value="50" id="amount_50">
											    		<span id="amount_50">50 €</span> 
											    	</label>
											    </li>
											    <li>
											    	<label>
											    		<input name="amount-once" type="radio" value="100" id="amount_100">
											    		<span id="amount_100">100 €</span> 
											    	</label>
											    </li>
											    <li>
											    	<label>
											    		<input name="amount-once" type="radio" value="200" id="amount_200">
											    		<span id="amount_200">200 €</span> 
											    	</label>
											    </li>
											</ul>
											<label>Montant libre		
												<input name="famount-once" type="text" size="6" id="famount-once"><span>€</span>
											</label> -->
							    		</div>
							    		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 right">
											<button class="btn btn-helpUs disabled">
												Donner
											</button>
							    		</div>
							    	</form>
						    	</div>
						    	
						    	<script type="text/javascript">
				    				var listAidesStatus = [];
				    			</script>
						    	{% if aides|length > 0 %}
						    		{% for aide in aides %}
						    			{% if aide.status != 'inactive' %}
						    			<script type="text/javascript">
						    				listAidesStatus[listAidesStatus.length] = ["aide_{{ aide.orderList }}", false];
						    			</script>
						    			<br/>
								    	<h5>
								    		{{ aide.orderList }}. {{ aide.header }}
								    	</h5>
								    	<hr class="medium_hr"/>
								    	<div class="row">
								    		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
								    			{% if aide.alt|length > 0 and aide.url|length > 0 %}
													<div class="photo_helpUs" style="width: 100%; min-height:50px; background-image: url('{{ asset(aide.webPath) }}'); background-size: cover; background-position: 50%;" alt="{{ aide.name }}" onClick="showPhotoCarousel('{{ asset('img/system/helpUs/lama.png') }}')">
								                    </div>
												{% else %}
													<div class="photo_helpUs" style="width: 100%; min-height:50px; background-image: url('{{ asset('img/system/defaults/default_img.png') }}'); background-size: cover; background-position: 50%;" alt="{{ aide.name }}" onClick="showPhotoCarousel('{{ asset('img/system/helpUs/lama.png') }}')">
								                    </div>
												{% endif %}
								    		</div>
								    		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								    			<strong>
								    				{{ aide.name }}
								    			</strong>
								    			<br/>
								    			{{ aide.description }}
								    			<br/>
								    		</div>
								    		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-1">
								    			{% if aide.price|length > 0 %}
								    			<strong>
								    				{{ aide.price }} €
								    			</strong>
								    			{% endif %}
								    		</div>
								    		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 right">
												<button class="btn btn-helpUs {% if aide.status == 'toCome' %}disabled{% endif %} white" value="Commander" onClick="showFormAide('aide_{{ aide.orderList }}')" id="button_aide_{{ aide.orderList }}">
													Commander
												</button>
								    		</div>
								    	</div>
								    	<div class="row" id="aide_{{ aide.orderList }}" style="display:none;">
								    		<br/>
						    				<form method="post" action="{{ path('ma_main_helpUs_contact') }}">
						    					<input type="hidden" name="orderContentType" value="{{ aide.orderList }}"/>
						    					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							    					Veuillez entrez votre nom et votre email, ainsi que la quantité que vous désirez commandez :
						    					</div>
							    				<div class="form-group col-lg-5 col-md-5 col-sm-5 col-xs-12">
													<div class="input-icon">
														<input type="text" name="senderContact" id="senderContact" placeholder="{{ 'helpUs.contact.senderName' | trans }}" class="form-control placeholder-no-fix"/>
											        </div>
											    </div>
											    <div class="form-group  col-lg-5 col-md-5 col-sm-5 col-xs-12">
													<div class="input-icon">
														<input type="email" name="emailContact" id="emailContact" placeholder="{{ 'helpUs.contact.senderEmail' | trans }}" class="form-control placeholder-no-fix"/>
											        </div>
												</div>
												<div class="form-group  col-lg-2 col-md-2 col-sm-2 col-xs-12">
													<div class="input-icon">
														<input type="text" name="quantityContact" id="quantityContact" placeholder="{{ 'helpUs.contact.senderQuantity' | trans }}" class="form-control placeholder-no-fix"/>
											        </div>
												</div>
												<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
									                <div class="input-icon">
									                	<textarea class="form-control placeholder-no-fix" name="corpsMail" id="corpsMail" placeholder="{{ 'helpUs.contact.message' | trans }}"></textarea>
									                </div>
									            </div>
												<div class="row center">
													<input type="submit" class="btn btn-perso" value="Envoyer"/>	
												</div>
						    				</form>
						    			</div>
						    			{% endif %}
									{% endfor %}
								{% else %}
									<p class="left">
										Aucune autre aide n'est disponible à l'achat pour l'instant
									</p>
								{% endif %}
						    	
						    </div>

						    <script type="text/javascript">
								var cw = $('.photo_helpUs').width();
								$('.photo_helpUs').css({'height':cw+'px'});

								var cw = $('.photo_partner').width();
								$('.photo_partner').css({'height':cw+'px'});

								function showFormAide(aideId) {
									var shownStatus = false;
									var aideEnQuestion = '';
									for (var i = 0; i < listAidesStatus.length; i++) {
										aideEnQuestion = listAidesStatus[i];
										if (aideEnQuestion[0] == aideId) {
											aideIdCorres = listAidesStatus[i][1];
											break;
										}
									}
									if (aideEnQuestion[1] == false) {
			                        	$('#'+aideId).fadeIn('normal');
			                        	var newName = '#button_'+aideId;
			                        	$(newName).html("Annuler");
			                        	aideEnQuestion[1] = true;
									} 
									else {
										$('#'+aideId).fadeOut('normal');
										var newName = '#button_'+aideId;
										$(newName).html("Commander");
										aideEnQuestion[1] = false;
									}
		                        }
							</script>
						</div>
					</div>

				</div>
			</div>

		</div>

	</div>
	<!-- END CONTENT -->

{% endblock MA_Main_body %}