<!-- Les étudiants -->
			<div class="section" id="etudiants">

				<h2>
					Etudiants
				</h2>

				<div class="slide">
					<div class="intro">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<h3>
									Infos
								</h3>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<button class="btn btn-perso btn-perso-right float-right" id="goToPhotosFromInfosEtudiants">
									Photos
									<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_arrow"/>
								</button>
							</div>
						</div>

						<div class="row80">
							<h4>
								Aide aux étudiants
							</h4>

							<p>
								Aide aux étudiants. A l’âge de 16 ans, les jeunes des villages rejoignent la ville pour étudier avec très peu, voire aucun moyen financier et matériel. Il se retrouve en décalage aussi bien au niveau social que scolaire. L’association peut selon les besoins leur assurer un cadre familial, un logement, une aide financière et morale.
							</p>
						</div>

					</div>
				</div>
			    <div class="slide">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<button class="btn btn-perso btn-perso-left float-left" id="goToInfosFromPhotosEtudiants">
									<img src="{{ asset('img/system/defaults/left_arrow.png') }}" alt="" class="btn_arrow"/>
									Infos
								</button>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<h3>
									Photos
								</h3>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<button class="btn btn-perso btn-perso-right float-right" id="goToVideosFromPhotosEtudiants">
									Vidéos
									<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_arrow"/>
								</button>
							</div>
						</div>

						<div class="row">
							<div class="col-md-2 col-xs-2">
								<img src="{{ asset('img/system/defaults/default_profile.png') }}" alt="" class="photo_default"/>
								<script type="text/javascript">
									var cw = $('.photo_default').width();
									$('.photo_default').css({'height':cw+'px'});
								</script>
							</div>
							<div class="col-md-2 col-xs-2">
								<img src="{{ asset('img/system/defaults/default_profile.png') }}" alt="" class="photo_default"/>
								<script type="text/javascript">
									var cw = $('.photo_default').width();
									$('.photo_default').css({'height':cw+'px'});
								</script>
							</div>
							<div class="col-md-2 col-xs-2">
								<img src="{{ asset('img/system/defaults/default_profile.png') }}" alt="" class="photo_default"/>
								<script type="text/javascript">
									var cw = $('.photo_default').width();
									$('.photo_default').css({'height':cw+'px'});
								</script>
							</div>
							<div class="col-md-2 col-xs-2">
								<img src="{{ asset('img/system/defaults/default_profile.png') }}" alt="" class="photo_default"/>
								<script type="text/javascript">
									var cw = $('.photo_default').width();
									$('.photo_default').css({'height':cw+'px'});
								</script>
							</div>
							<div class="col-md-2 col-xs-2">
								<img src="{{ asset('img/system/defaults/default_profile.png') }}" alt="" class="photo_default"/>
								<script type="text/javascript">
									var cw = $('.photo_default').width();
									$('.photo_default').css({'height':cw+'px'});
								</script>
							</div>
							<div class="col-md-2 col-xs-2">
								<img src="{{ asset('img/system/defaults/default_profile.png') }}" alt="" class="photo_default"/>
								<script type="text/javascript">
									var cw = $('.photo_default').width();
									$('.photo_default').css({'height':cw+'px'});
								</script>
							</div>
						</div>
						<br/><br/>
						<div class="row">
							<div class="col-md-2 col-xs-2">
								<img src="{{ asset('img/system/defaults/default_profile.png') }}" alt="" class="photo_default"/>
								<script type="text/javascript">
									var cw = $('.photo_default').width();
									$('.photo_default').css({'height':cw+'px'});
								</script>
							</div>
							<div class="col-md-2 col-xs-2">
								<img src="{{ asset('img/system/defaults/default_profile.png') }}" alt="" class="photo_default"/>
								<script type="text/javascript">
									var cw = $('.photo_default').width();
									$('.photo_default').css({'height':cw+'px'});
								</script>
							</div>
							<div class="col-md-2 col-xs-2">
								<img src="{{ asset('img/system/defaults/default_profile.png') }}" alt="" class="photo_default"/>
								<script type="text/javascript">
									var cw = $('.photo_default').width();
									$('.photo_default').css({'height':cw+'px'});
								</script>
							</div>
							<div class="col-md-2 col-xs-2">
								<img src="{{ asset('img/system/defaults/default_profile.png') }}" alt="" class="photo_default"/>
								<script type="text/javascript">
									var cw = $('.photo_default').width();
									$('.photo_default').css({'height':cw+'px'});
								</script>
							</div>
							<div class="col-md-2 col-xs-2">
								<img src="{{ asset('img/system/defaults/default_profile.png') }}" alt="" class="photo_default"/>
								<script type="text/javascript">
									var cw = $('.photo_default').width();
									$('.photo_default').css({'height':cw+'px'});
								</script>
							</div>
							<div class="col-md-2 col-xs-2">
								<img src="{{ asset('img/system/defaults/default_profile.png') }}" alt="" class="photo_default"/>
								<script type="text/javascript">
									var cw = $('.photo_default').width();
									$('.photo_default').css({'height':cw+'px'});
								</script>
							</div>
						</div>
						<br/><br/>
						<div class="row">
							<div class="col-md-2 col-xs-2">
								<img src="{{ asset('img/system/defaults/default_profile.png') }}" alt="" class="photo_default"/>
								<script type="text/javascript">
									var cw = $('.photo_default').width();
									$('.photo_default').css({'height':cw+'px'});
								</script>
							</div>
							<div class="col-md-2 col-xs-2">
								<img src="{{ asset('img/system/defaults/default_profile.png') }}" alt="" class="photo_default"/>
								<script type="text/javascript">
									var cw = $('.photo_default').width();
									$('.photo_default').css({'height':cw+'px'});
								</script>
							</div>
							<div class="col-md-2 col-xs-2">
								<img src="{{ asset('img/system/defaults/default_profile.png') }}" alt="" class="photo_default"/>
								<script type="text/javascript">
									var cw = $('.photo_default').width();
									$('.photo_default').css({'height':cw+'px'});
								</script>
							</div>
							<div class="col-md-2 col-xs-2">
								<img src="{{ asset('img/system/defaults/default_profile.png') }}" alt="" class="photo_default"/>
								<script type="text/javascript">
									var cw = $('.photo_default').width();
									$('.photo_default').css({'height':cw+'px'});
								</script>
							</div>
							<div class="col-md-2 col-xs-2">
								<img src="{{ asset('img/system/defaults/default_profile.png') }}" alt="" class="photo_default"/>
								<script type="text/javascript">
									var cw = $('.photo_default').width();
									$('.photo_default').css({'height':cw+'px'});
								</script>
							</div>
							<div class="col-md-2 col-xs-2">
								<img src="{{ asset('img/system/defaults/default_profile.png') }}" alt="" class="photo_default"/>
								<script type="text/javascript">
									var cw = $('.photo_default').width();
									$('.photo_default').css({'height':cw+'px'});
								</script>
							</div>
						</div>
				</div>
			    <div class="slide">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<button class="btn btn-perso btn-perso-left float-left" id="goToPhotosFromVideosEtudiants">
									<img src="{{ asset('img/system/defaults/left_arrow.png') }}" alt="" class="btn_arrow"/>
									Photos
								</button>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<h3>
									Vidéos
								</h3>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<button class="btn btn-perso btn-perso-right float-right" id="goToInfosFromVideosEtudiants">
									Back to Infos
									<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_arrow"/>
								</button>
							</div>
						</div>

						<div class="row">
							<div class="col-md-3">
								<br/>
								<div class="row">
									<a href="/watch?v=CfCmoEixxro">
										<div class="inline_div col-md-6">
											<span dir="ltr" class="title" aria-describedby="description-id-699476">
										    	Video suivante
										  	</span>
										  	<br/>
										    <span class="accessible-description" id="description-id-699476">
										       Durée&nbsp;: 23:07.
										    </span>
										    <br/>
										    <span class="stat view-count">3&nbsp;657&nbsp;vues</span><br/>
										    <span class="video-time">
										      23:07
										    </span>
									  	</div>
									  	<div class="inline_div col-md-6">
										    
										    	<span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="CfCmoEixxro"><img aria-hidden="true" alt="" src="//i.ytimg.com/vi/CfCmoEixxro/default.jpg" width="120" height="90">
										    	</span>
									  	</div>
									</a>
								</div>
								<br/>
								<div class="row">
									<a href="/watch?v=CfCmoEixxro">
										<div class="inline_div col-md-6">
											<span dir="ltr" class="title" aria-describedby="description-id-699476">
										    	Video suivante
										  	</span>
										  	<br/>
										    <span class="accessible-description" id="description-id-699476">
										       Durée&nbsp;: 23:07.
										    </span>
										    <br/>
										    <span class="stat view-count">3&nbsp;657&nbsp;vues</span><br/>
										    <span class="video-time">
										      23:07
										    </span>
									  	</div>
									  	<div class="inline_div col-md-6">
										    
										    	<span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="CfCmoEixxro"><img aria-hidden="true" alt="" src="//i.ytimg.com/vi/CfCmoEixxro/default.jpg" width="120" height="90">
										    	</span>
									  	</div>
									</a>
								</div>
								<br/>
								<div class="row">
									<a href="/watch?v=CfCmoEixxro">
										<div class="inline_div col-md-6">
											<span dir="ltr" class="title" aria-describedby="description-id-699476">
										    	Video suivante
										  	</span>
										  	<br/>
										    <span class="accessible-description" id="description-id-699476">
										       Durée&nbsp;: 23:07.
										    </span>
										    <br/>
										    <span class="stat view-count">3&nbsp;657&nbsp;vues</span><br/>
										    <span class="video-time">
										      23:07
										    </span>
									  	</div>
									  	<div class="inline_div col-md-6">
										    
										    	<span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="CfCmoEixxro"><img aria-hidden="true" alt="" src="//i.ytimg.com/vi/CfCmoEixxro/default.jpg" width="120" height="90">
										    	</span>
									  	</div>
									</a>
								</div>
								<br/>
								<div class="row">
									<a href="/watch?v=CfCmoEixxro">
										<div class="inline_div col-md-6">
											<span dir="ltr" class="title" aria-describedby="description-id-699476">
										    	Video suivante
										  	</span>
										  	<br/>
										    <span class="accessible-description" id="description-id-699476">
										       Durée&nbsp;: 23:07.
										    </span>
										    <br/>
										    <span class="stat view-count">3&nbsp;657&nbsp;vues</span><br/>
										    <span class="video-time">
										      23:07
										    </span>
									  	</div>
									  	<div class="inline_div col-md-6">
										    
										    	<span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="CfCmoEixxro"><img aria-hidden="true" alt="" src="//i.ytimg.com/vi/CfCmoEixxro/default.jpg" width="120" height="90">
										    	</span>
									  	</div>
									</a>
								</div>
							</div>
							<div class="col-md-9">
								<iframe width="100%" max-height="500" min-height="200" height="400" src="https://www.youtube.com/embed/pT40_00AGQU" frameborder="0" allowfullscreen>
									
								</iframe>
							</div>
						</div>
						
				</div>
				
			</div>

			<!-- Les jeunes pro -->
			<div class="section" id="jeunesPro">

				<h2>
					Jeunes pro
				</h2>

				<div class="slide">
					<div class="intro">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<h3>
									Infos
								</h3>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<button class="btn btn-perso btn-perso-right float-right" id="goToPhotosFromInfosJeunesPro">
									Photos
									<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_arrow"/>
								</button>
							</div>
						</div>

						<div class="row80">
							<h4>
								Insertion professionnelle des jeunes
							</h4>

							<p>
								Aide aux jeunes travailleurs. Après ou pendant leurs études, les jeunes sont confrontés à la réalité de la vie. Il leur faut financer leur logement, leurs études et leurs besoins quotidiens. L’association peut leur fournir une aide personnelle. L’association appuie également la création et le développement d’entreprises solidaires sous forme de conseils, d’aide à la création de postes et de soutien financier. Nous entendons par entreprises solidaires, une entreprise cherchant à concilier activité économique et utilité sociale et favorisant l’Homme plutôt que la recherche de profits.
							</p>
						</div>

					</div>
				</div>
			    <div class="slide">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<button class="btn btn-perso btn-perso-left float-left" id="goToInfosFromPhotosJeunesPro">
									<img src="{{ asset('img/system/defaults/left_arrow.png') }}" alt="" class="btn_arrow"/>
									Infos
								</button>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<h3>
									Photos
								</h3>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<button class="btn btn-perso btn-perso-right float-right" id="goToVideosFromPhotosJeunesPro">
									Vidéos
									<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_arrow"/>
								</button>
							</div>
						</div>
						<p>Easy to use. Configurable and customizable.</p>
				</div>
			    <div class="slide">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<button class="btn btn-perso btn-perso-left float-left" id="goToPhotosFromVideosJeunesPro">
									<img src="{{ asset('img/system/defaults/left_arrow.png') }}" alt="" class="btn_arrow"/>
									Photos
								</button>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<h3>
									Vidéos
								</h3>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<button class="btn btn-perso btn-perso-right float-right" id="goToInfosFromVideosJeunesPro">
									Back to Infos
									<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_arrow"/>
								</button>
							</div>
						</div>
						<p>It just looks cool. Impress everybody with a simple and modern web design!</p>
				</div>

			</div>