{# src/MA/MainBundle/Resources/Main/indexMain.html.twig #}

{% extends "MAMainBundle::main_general.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block MA_Main_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">

			<div id="photo_background">

				<div id="photo_background_frame">
					{% for id_n in 1..60 %}
						<div class="photo_background_sq">
							<div class="photo_background_sq_content" id="photo_background_sq_{{ id_n }}">
								<div class="front" style="width: 100%;  background-size: cover; background-position: 50%;" id="photo_background_sq_{{ id_n }}_f">
								</div>
								<div class="back" style="width: 100%;  background-size: cover; background-position: 50%;" id="photo_background_sq_{{ id_n }}_b">
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

				<script>
					// Images available
					var listImages = [];
				</script>
				{% for inc in 1..72 %}
					{% set photoLink = 'img/homePhotos/' ~ inc ~ '.jpg' %}
					<script>
                  		var imgLink = "{{ asset(photoLink)}}";
                  		listImages['{{ inc }}'] = imgLink;
					</script>
				{% endfor %}
				
				<script type="text/javascript">
					function changeCSSsheet(selector, property, value) {
					    for (var i=0; i < document.styleSheets.length;i++) { //Loop through all styles
					        //Try add rule
					        try { document.styleSheets[i].insertRule(selector+ ' {'+property+':'+value+'}', document.styleSheets[i].cssRules.length);
					        } catch(err) {try { document.styleSheets[i].addRule(selector, property+':'+value);} catch(err) {}}//IE
					    }
					}

              		var window_height = window.innerHeight;
				    var window_width = window.innerWidth;
                  	$(function(){
                  		// Set photobackground to window size
					    changeCSSsheet('#photo_background', 'width', window_width+'px !important');
					    changeCSSsheet('#photo_background', 'height', window_height+'px !important');
					    $('#photo_background').css({'height':window_height+'px', 'width':window_width+'px'});
	                  	
	                  	// Measure how many squares needed
	                  	// alert('Window height '+window_height);
	                  	var band_future_height = window_height * 0.55 ;
	                  	// alert('Band height '+band_future_height);
	                  	var cell_future_height = Math.ceil((band_future_height / 3)) - 8;
	                  	// alert('Cell height '+cell_future_height);
	                  	band_future_height = (cell_future_height + 8) * 3;
	                  	// alert('NEW Band height '+band_future_height);
	                  	var inOneRow = Math.floor((window_width - (window_width % (cell_future_height + 8) )) / (cell_future_height + 8));
	                  	// alert('Number in row '+inOneRow);
	                  	var totalSquares = inOneRow * 5;
	                  	// alert('Number total '+totalSquares);

					    // Set photos square and band to 3 rows
					    changeCSSsheet('.photo_background_sq', 'width', cell_future_height+'px !important');
					    changeCSSsheet('.photo_background_sq', 'height', cell_future_height+'px !important');
					    $('.photo_background_sq').css({'height':cell_future_height+'px', 'width':cell_future_height+'px'});
					    changeCSSsheet('#photo_background_frame', 'height', band_future_height+'px');
					    // alert('NEW Band height '+band_future_height+' when Window height '+window_height);
					    $('#photo_background_frame').css({'height':band_future_height+'px'});
	                  	var bg_photo_content_height = $('.photo_background_sq_content').width();
	                  	$('.photo_background_sq_content').css({'height':bg_photo_content_height+'px'});


	                  	// Div ids
	                  	var listIds = [];
	                  	var listActive = [];
	                  	for (var i = 0; i < totalSquares + 1; i++) {
	                  		var el = '#photo_background_sq_'+i;
	                  		var face = '#photo_background_sq_'+i+'_f';
	                  		listIds[i] = el;
		                  	$(el).flip();
	                  		listActive[i] = true;
	                  		// Images displayed
	                  		var imgToDisplay = listImages[Math.floor(Math.random()*listImages.length)];
	                  		$(face).css({'background-image':'url('+imgToDisplay+')'});
	                  	}

	                  	// Axis
	                  	var axisList = ['x', 'y'];

	                  	// Set flip random
	                  	setInterval(function () {
	                  		var rank = Math.floor(Math.random()*listIds.length);
	                  		var idToFlip = listIds[rank];
	                  		var isActive = listActive[rank];
	                  		if (isActive == true) {
	                  			// Change back
	                  			var face = idToFlip+'_b';
	                  			var imgToDisplay = listImages[Math.floor(Math.random()*listImages.length)];
	                  			$(face).css({'background-image':'url('+imgToDisplay+')'});
	                  			listActive[rank] = false;
	                  		}
	                  		else {
	                  			// Change front
	                  			var face = idToFlip+'_f';
	                  			var imgToDisplay = listImages[Math.floor(Math.random()*listImages.length)];
	                  			$(face).css({'background-image':'url('+imgToDisplay+')'});	
	                  			listActive[rank] = true;
	                  		}
	                  		var axisSelect = axisList[Math.floor(Math.random()*axisList.length)];
	                  		$(idToFlip).flip(isActive);
	                  		// {
	                  		// 	reverse: isActive,
		                  	// 	axis: axisSelect,
		                  	// 	speed: 1000
	                  		// });
	                  	}, 1000);
				    });
                </script>
			</div>

			<!-- Buttons accueil -->
			<div class="row center hidden-xs">
				<div class="div-btn-btm-accueil" id="btn-accueil">
					<div class="btn-accueil" id="btn-accueil-l">
						<a href="#ecoliers" class="btn btn_ecoliers no_style_a uppercase">
							Ecoliers
						</a>
					</div>
					<div class="btn-accueil" id="btn-accueil-c">
						<a href="#etudiants" class="btn btn_etudiants no_style_a uppercase">
							Etudiants
						</a>
					</div>
					<div class="btn-accueil" id="btn-accueil-r">
						<a href="#jeunesPro" class="btn btn_jeunesPro no_style_a uppercase">
							Jeunes pro
						</a>
					</div>
				</div>
			</div>

			<!-- Diapo -->
			<div class="section section_diapo" id="diapo" style="display:none;">
				<button class="btn btn-diapo-close" onClick="closeDiapo()">
					Fermer
				</button>
			</div>


			<!-- Accueil -->
			<div class="section section_home" id="accueil">

				<div class="uppercase hidden-xs" id="menu_top">
					<div id="div_logo_welcome">
						<img src="{{ asset('img/system/logo/logo.png') }}" alt="Logo" id="logo_welcome"/>
					</div>
					<div class="" id="buttonToDiapo">
						<button class="btn btn-diapo" onClick="goToDiapo()">
							<img src="{{ asset('img/system/defaults/right_arrow_white.png') }}" alt="" class="btn_arrow"/>
							 DIAPORAMA 
							<img src="{{ asset('img/system/defaults/left_arrow_white.png') }}" alt="" class="btn_arrow"/>
						</button>
					</div>
					<div class="">
						<a href="{{ path('ma_main_homepage') }}#actu" class="no_style_a">
							L'actualité
						</a>
					</div>
					<div class="dropdown">
					    <a class="dropdown-toggle no_style_a" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
					      Notre action <span class="caret"></span>
					    </a>
					    <ul class="dropdown-menu dropdown-menu-spe" role="menu">
					    	<li>
				          		<a href="{{ path('ma_main_homepage') }}#ecoliers">
				          			Ecoliers
				          		</a>
				          	</li>
				          	<li>
				          		<a href="{{ path('ma_main_homepage') }}#etudiants">
				          			Etudiants
				          		</a>
				          	</li>
				          	<li>
				          		<a href="{{ path('ma_main_homepage') }}#jeunesPro">
				          			Jeunes pro
				          		</a>
				          	</li>
					    </ul>
					</div>
					<div  class="">
						<a href="{{ path('ma_main_homepage') }}#nosBesoins" class="no_style_a">
							Nos besoins
						</a>
					</div>
					<div class="dropdown">
					    <a class="dropdown-toggle no_style_a" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
					      	L'association <span class="caret"></span>
					    </a>
					    <ul class="dropdown-menu dropdown-menu-spe" role="menu">
				          	<li>
				          		<a href="{{ path('ma_main_homepage') }}#assoc">
				          			Qui sommes-nous ?
				          		</a>
				          	</li>
				          	<li>
				          		<a href="{{ path('ma_main_homepage') }}#assoc">
				          			La charte
				          		</a>
				          	</li>
				          	<li>
				          		<a href="{{ path('ma_main_homepage') }}#assoc">
				          			Quelques repères
				          		</a>
				          	</li>
					    </ul>
					</div>
					<div class="">
						<a href="{{ path('ma_main_homepage') }}#footer" class="no_style_a">
							Contact
						</a>
					</div>

					<div class="header_help_a">
						<a href="{{ path('ma_main_helpUs') }}" class="no_style_a">
							Nous aider
						</a>
					</div>
				</div>

				<script>
					var band_height_original ;
					function goToDiapo() {
						$('#photo_background_frame').animate({'margin-top':'0px'}, 1000, function() {
	                        // changeCSSsheet('#photo_background', 'position', 'fixed');
	                        $('#photo_background').animate({'opacity':'1'});
	                        band_height_original = $('#photo_background_frame').height() + 8;
	                        var window_height = window.innerHeight;
	                        $('#photo_background_frame').animate({'height':window_height+'px'});
	                        $("body").css("overflow", "hidden");
	                        $('#diapo').fadeIn('slow');
	                        $('#buttonToDiapo').animate({'opacity':'0'});
	                        $('#side_buttons').animate({'opacity':'0'});
	                        $('.header').animate({'opacity':'0'});
	                        $('#nav_clavier').animate({'opacity':'0'});
	                        $('#home_quote').animate({'opacity':'0'});
	                        $('#btn-accueil').animate({'opacity':'0'});
	                        $('#social_media').animate({'opacity':'0'});
	                        $('#div_logo_welcome').animate({'opacity':'0'});
	                        allowedToScrollWithKeys = false;
						});
					}
					function closeDiapo() {
						$('#photo_background_frame').animate({'margin-top':'100px'}, 1000, function() {
	                        // changeCSSsheet('#photo_background', 'position', 'absolute');
	                        $('#photo_background_frame').animate({'height':band_height_original+'px'});
	                        $('#photo_background').animate({'opacity':'0.3'});
	                        $("body").css("overflow", "scroll");
	                        $('#diapo').fadeOut('slow');
	                        $('#buttonToDiapo').animate({'opacity':'1'});
	                        $('#side_buttons').animate({'opacity':'1'});
	                        $('.header').animate({'opacity':'1'});
	                        $('#nav_clavier').animate({'opacity':'1'});
	                        $('#home_quote').animate({'opacity':'1'});
	                        $('#btn-accueil').animate({'opacity':'1'});
	                        $('#social_media').animate({'opacity':'1'});
	                        $('#div_logo_welcome').animate({'opacity':'1'});
	                        allowedToScrollWithKeys = true;
	                    });
					}
				</script>


				<h1>
					<strong>Mission Andina</strong>
					<br/>
					<span>
						Des projets économiques au service du développement humain
					</span>
				</h1>


				<div class="row center home_message hidden-xs" id="nav_clavier">
					<strong>NOUVEAU!</strong> Voyagez dans notre univers avec vos flêches de clavier : 
					<img src="{{ asset('img/system/scroll-icons/left-key.png') }}" alt="left" class="scroll-icons scroll-icons-left"/>
					<img src="{{ asset('img/system/scroll-icons/up-key.png') }}" alt="up" class="scroll-icons scroll-icons-up"/>
					<img src="{{ asset('img/system/scroll-icons/right-key.png') }}" alt="right" class="scroll-icons scroll-icons-right"/>
					<img src="{{ asset('img/system/scroll-icons/down-key.png') }}" alt="down" class="scroll-icons scroll-icons-down"/>
				</div>		
		

				<div class="row home_quote" id="home_quote">
					Aidez-nous à ne pas dépendre de vous. (avec encadré)
				</div>
			</div>


			<!-- L'actu -->
			<div class="section" id="actu">

				<script>
					var articlesContent;
				</script>


				<div class="row actu">
					<div class="row">
						<h2>
							Actu
						</h2>
						<div class="center italic">
							Toute l'information à jour
						</div>

						<hr class="dark_hr"/>
					</div>
					<div class="row">
		    			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
		    				<h3 class="left">
								Articles :
		    				</h3>

							{% if articles|length > 0 %}
								<ul class="list_no_style_li list_articles">
									{% for single_article in articles %}
										<li class="article_link {% if single_article == articleAsked %}li_article_active{% endif %}" id="article_n_{{ single_article.id }}">
											<a href="javascript:displaySelectedArticle('{{ path('ma_main_homepage_elementAjax', {'elementType':'article', 'elementId':single_article.id}) }}', 'article_n_{{ single_article.id }}')" class="no_style_a">
												{{ single_article.title|truncate(40, false, '...') }}
											</a>
											<span class="float-right arrow_article">
												<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt=""/>
											</span>
											<span class="float-right date_article">
												{% if single_article.createdAt|length > 0 %}
													{{ single_article.createdAt|date('d M Y') }}
												{% else %}
													(Vide)
												{% endif %}
											</span>
										</li>

										<!-- Modal article -->
										<div class="modal fade" id="modal_article_art_{{ single_article.id }}" tabindex="-{{ single_article.id }}" role="dialog" aria-labelledby="modal_articleLabel" aria-hidden="true">
										  <div class="modal-dialog modal-lg">
										    <div class="modal-content">
										      <div class="modal-header">
										        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										        <h3 class="modal-title">
										        	{{ single_article.title }}
										        </h3>
										      </div>
										      <div class="modal-body">
										        <div class="row">
										          <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
										          <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 left top_info_modal_article">
										          	{{ single_article.place }}
										          </div>
										          <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 right top_info_modal_article">
										            Dernière modification le <span id="modal_articleDate">
										            	{{ single_article.updatedAt|date('d M Y') }}
										            </span> à <span id="modal_articleTime">
										            	{{ single_article.updatedAt|date('H:i') }}
										            </span>
										          </div>
										          <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
										        </div>
										        <div class="row modal_content" id="modal_articleContent">
										          {{ single_article.content|raw }}
										        </div>
										      </div>
										      <div class="modal-footer">
										        <button type="button" class="btn btn-modal" data-dismiss="modal">
										          Fermer
										        </button>
										      </div>
										    </div>
										  </div>
										</div>
										
									{% endfor %}
								</ul>
							{% else %}
								Aucun article disponible pour l'instant
							{% endif %}
						</div>

						<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
							<div class="row" id="article_content">
								{% if articleAsked.title|length > 0 %}
								<div class="thumbnail">
									<div>
										{% if articleAsked.alt|length > 0  and articleAsked.url|length > 0 %}
											<div class="article_photo_container">
												<div class="article_photo" style="width: 100%; min-height:100px; background-image: url('{{ asset( articleAsked.webPath) }}'); background-size: cover; background-position: 50%;" alt="{{ articleAsked.alt }}" onClick="showPhotoCarousel('{{ asset(articleAsked.webPath) }}')">
							                    </div>
											</div>
					                   {% else %}
											<div class="article_photo_container">
						                   		<div class="article_photo" style="width: 100%; min-height:100px; background-image: url('{{ asset('img/system/defaults/default_article_photo.png') }}'); background-size: cover; background-position: 50%;" alt="Default" onClick="showPhotoCarousel('{{ asset('img/system/defaults/default_article_photo.png') }}')">
							                    </div>
											</div>
					                   {% endif %}
									</div>
									<div class="caption">
										<div class="row">
											<div class="inline_div">
												<h4>
													{% if articleAsked.title|length > 0 %}
														{{ articleAsked.title|raw }}
													{% else %}
														(Titre vide)
													{% endif %}
												</h4>
											</div>
											<div class="inline_div float-right date_article_lg">
												{% if articleAsked.place|length > 0 %}
													{{ articleAsked.place }},
												{% endif %}
												{% if articleAsked.createdAt|length > 0 %}
													le {{ articleAsked.createdAt|date('d M Y') }} à {{ articleAsked.createdAt|date('H:i') }}
												{% endif %}
											</div>
										</div>
										
										<div class="row center">
											{% if articleAsked.content|length > 0 %}
												<!-- Button trigger modal -->
												<!-- <button type="button" class="btn btn-perso" data-toggle="modal" data-target="#modal_article_art_{{ articleAsked.id }}" data-backdrop="true" data-keyboard="true">
												</button> -->

												<button type="button" class="btn btn-perso" onClick="showFullArticle('#modal_article_art_{{ articleAsked.id }}')">
													Lire l'article
												</button>
											{% else %}
												(Article vide)
											{% endif %}
										</div>
									</div>
								</div>
								{% endif %}
							</div>
							<div id="article_photo_script">
								<script type="text/javascript">
			                        function showFullArticle(modalID) {
										$(modalID).modal('show');
									}

									function changeCSSsheet(selector, property, value) {
									    for (var i=0; i < document.styleSheets.length;i++) { //Loop through all styles
									        //Try add rule
									        try { document.styleSheets[i].insertRule(selector+ ' {'+property+':'+value+'}', document.styleSheets[i].cssRules.length);
									        } catch(err) {try { document.styleSheets[i].addRule(selector, property+':'+value);} catch(err) {}}//IE
									    }
									}

									var cw = $('.article_photo').width() * 0.5625;  // 16:9e
			                        changeCSSsheet('.article_photo', 'height', cw+'px');
			                        $(window).resize(function() {
			                          var cw = $('.article_photo').width() * 0.5625;  // 16:9e
			                          changeCSSsheet('.article_photo', 'height', cw+'px');
			                        });
								</script>
							</div>

						</div>
	    			</div>

				</div>

			</div>
			

			<!-- Les écoliers -->
			<div class="section section_ecoliers white" id="ecoliers">

				<h2 class="white">
					Ecoliers
				</h2>

				<div class="slide_container" id="slide_container_content_ecoliers">
					<div class="slide_container_content">
						
						<div class="slide" id="videosEcoliers">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3 class="white">
										Vidéos
									</h3>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<button onClick="slideToAnchor('#slide_container_content_ecoliers','1')" class="btn btn-perso btn-perso-white float-right">
										Infos
										<img src="{{ asset('img/system/defaults/right_arrow_white.png') }}" alt="" class="btn_arrow"/>
									</button>
								</div>
							</div>

							<div class="slide_content">
								{% if videosEcoliers|length > 0 %}
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 left">
										<br/><br/>
										<strong>
											Vidéos :
										</strong>
										{% if videosEcoliers|length > 0 %}
											<ul class="list_no_style_li list_videos list_videos_white">
												{% for video in videosEcoliers %}
													<li class="video_link {% if video == videoAsked %}li_video_active{% endif %}" id="video_eco_{{ video.id }}">
														<a href="javascript:displaySelectedVideo('{{ path('ma_main_homepage_elementAjax', {'elementType':'video', 'elementId':video.id}) }}', 'video_content_ecoliers', 'video_eco_{{ video.id }}')" class="no_style_a white">
															{{ video.title|truncate(40, false, '...') }}
														</a>
														<span class="float-right arrow_video">
															<img src="{{ asset('img/system/defaults/right_arrow_white.png') }}" alt=""/>
														</span>
														<span class="float-right date_video">
															{% if video.createdAt|length > 0 %}
																{{ video.createdAt|date('d M Y') }}
															{% else %}
																(Vide)
															{% endif %}
														</span>
													</li>
												{% endfor %}
											</ul>
										{% else %}
											Aucune vidéo
										{% endif %}
									</div>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 border_black_left">
										<div id="video_content_ecoliers">
											{% set no_video_found_ecoliers = 'NO' %}
											{% for video in videosEcoliers %}
												{% if video == videoAsked %}
													{% if videoAsked.title|length > 0 and videoAsked.link|length > 0 %}

														<!-- 16:9 aspect ratio -->
														<div class="embed-responsive embed-responsive-16by9">
														  <iframe class="embed-responsive-item" src="{{ videoAsked.link }}"></iframe>
														</div>
														<br/>
														<div class="center">
															<strong>
																{{ videoAsked.title }}
															</strong>
														</div>
													{% else %}
														<p class="center">
															Cette vidéo n'est pas complète.
														</p>
													{% endif %}
													{% set no_video_found_ecoliers = 'YES' %}
												{% endif %}
											{% endfor %}
											{% if no_video_found_ecoliers == 'NO' %}
												<p class="center">
													Aucune vidéo n'a été sélectionnée. Choisissez celle que vous désirez voir sur votre gauche.
												</p>
											{% endif %}
										</div>
									</div>
								{% else %}
									<p class="center">
										Aucune vidéos pour l'instant
									</p>
								{% endif %}
							</div>
						</div>

						<div class="slide" id="infosEcoliers">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<button onClick="slideToAnchor('#slide_container_content_ecoliers','0')" class="btn btn-perso btn-perso-white float-left">
										<img src="{{ asset('img/system/defaults/left_arrow_white.png') }}" alt="" class="btn_arrow"/>
										Videos
									</button>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3 class="white">
										Infos
									</h3>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

									<button onClick="slideToAnchor('#slide_container_content_ecoliers','2')" class="btn btn-perso btn-perso-white float-right">
										Photos
										<img src="{{ asset('img/system/defaults/right_arrow_white.png') }}" alt="" class="btn_arrow"/>
									</button>
								</div>
							</div>

							<div class="slide_content">

								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="well italic">
										« Il est 5h30, le jour se lève doucement sur le village de Huayllati (3.200 m d’altitude). Cristian, 9 ans part le ventre vide pour emmener ses 4 vaches paitre dans la vallée de l’Apurimac à 1h30 de marche. Cristian est l’ainé de 3 frères. Son père est parti quand il avait 4 ans. Sa mère fait de son mieux pour éduquer seule ses enfants. Après avoir laissé ses vaches le jeune garçon prend le chemin de l’école. Après 2 heures de marche il s’installe en classe pour y suivre le cours. 14h sonne. Enfin un bol de riz et quelques pommes de terre viennent calmer sa faim. Après l’école il retourne au village pour jouer avec ses amis. Cristian a le sourire en permanence. Il ne se plaint jamais. Même quand il s’agit d’aller chercher les vaches et de rentrer avant la nuit. »
									</div>
								</div>

								<br/><br/>

								<h4>
									Aide aux écoles des villages reculés
								</h4>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<p class="center">
										Mission Andina vient en aide aux écoliers par le biais d’institutions scolaires, d’orphelinats ou d’internats. L’idée de l’association est de permettre aux enfants d’étudier dans des conditions décentes. Ainsi, ceux qui font plusieurs heures de marche pour arriver à l’école peuvent se nourrir avant d’étudier, ceux qui sont trop loin d’une école peuvent loger en internat, ceux qui ont perdu leurs parents peuvent retrouver une famille auprès des orphelinats.
									</p>
									<p class="center">
										Découvrez aux travers des <a href="javascript:slideToAnchor('#slide_container_content_ecoliers','2')"><strong>photos</strong></a> et des <a href="javascript:slideToAnchor('#slide_container_content_ecoliers','0')"><strong>vidéos</strong></a>, les concrétisations de ces différents jumelages, partenariats et parrainages.
										
									</p>
								</div>
								
							</div>
						</div>
					    <div class="slide" id="photosEcoliers">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<button onClick="slideToAnchor('#slide_container_content_ecoliers','1')" class="btn btn-perso btn-perso-white float-left">
										<img src="{{ asset('img/system/defaults/left_arrow_white.png') }}" alt="" class="btn_arrow"/>
										Infos
									</button>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3 class="white">
										Photos
									</h3>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								</div>
							</div>

							<div class="slide_content">
								{% if photosEcoliers|length > 0 %}
									{% for photo in photosEcoliers %}
										<div class="col-md-2 col-xs-2">
											<div class="article_photo_container">
												<div class="photo_default_white" style="width: 100%; min-height:100px; background-image: url('{{ asset( photo.webPath) }}'); background-size: cover; background-position: 50%;" alt="{{ photo.alt }}" onClick="showPhotoCarousel('{{ asset(photo.webPath) }}')">
							                    </div>
											</div>
											<script type="text/javascript">
												var cw = $('.photo_default_white').width();
												$('.photo_default_white').css({'height':cw+'px'});
											</script>
											<div class="center">
												<strong>
													{{ photo.title }}
												</strong>
											</div>
										</div>
									{% endfor %}
								{% else %}
									<p class="center">
										Aucune photos pour l'instant
									</p>
								{% endif %}
							</div>
						</div>

					</div>
				</div>

			</div>


			<!-- Les étudiants -->
			<div class="section section_etudiants" id="etudiants">

				<h2>
					Etudiants
				</h2>

				<div class="slide_container" id="slide_container_content_etudiants">
					<div class="slide_container_content">
						
						<div class="slide" id="videosEtudiants">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>
										Vidéos
									</h3>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<button onClick="slideToAnchor('#slide_container_content_etudiants','1')" class="btn btn-perso float-right">
										Infos
										<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_arrow"/>
									</button>
								</div>
							</div>

							<div class="slide_content">
								{% if videosEtudiants|length > 0 %}
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 left">
										<br/><br/>
										<strong>
											Vidéos :
										</strong>
										{% if videosEtudiants|length > 0 %}
											<ul class="list_no_style_li list_videos">
												{% for video in videosEtudiants %}
													<li class="video_link {% if video == videoAsked %}li_video_active{% endif %}" id="video_etu_{{ video.id }}">
														<a href="javascript:displaySelectedVideo('{{ path('ma_main_homepage_elementAjax', {'elementType':'video', 'elementId':video.id}) }}', 'video_content_etudiants', 'video_etu_{{ video.id }}')" class="no_style_a">
															{{ video.title|truncate(40, false, '...') }}
														</a>
														<span class="float-right arrow_article">
															<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt=""/>
														</span>
														<span class="float-right date_article">
															{% if video.createdAt|length > 0 %}
																{{ video.createdAt|date('d M Y') }}
															{% else %}
																(Vide)
															{% endif %}
														</span>
													</li>
												{% endfor %}
											</ul>
										{% else %}
											Aucune vidéo
										{% endif %}
									</div>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 border_black_left">
										<div id="video_content_etudiants">
											{% set no_video_found_etudiants = 'NO' %}
											{% for video in videosEtudiants %}
												{% if video == videoAsked %}
													{% if videoAsked.title|length > 0 and videoAsked.link|length > 0 %}

														<!-- 16:9 aspect ratio -->
														<div class="embed-responsive embed-responsive-16by9">
														  <iframe class="embed-responsive-item" src="{{ videoAsked.link }}"></iframe>
														</div>
														<br/>
														<div class="center">
															<strong>
																{{ videoAsked.title }}
															</strong>
														</div>
													{% else %}
														<p class="center">
															Cette vidéo n'est pas complète.
														</p>
													{% endif %}
													{% set no_video_found_etudiants = 'YES' %}
												{% endif %}
											{% endfor %}
											{% if no_video_found_etudiants == 'NO' %}
												<p class="center">
													Aucune vidéo n'a été sélectionnée. Choisissez celle que vous désirez voir sur votre gauche.
												</p>
											{% endif %}
										</div>
									</div>
								{% else %}
									<p class="center">
										Aucune vidéos pour l'instant
									</p>
								{% endif %}
							</div>
						</div>

						<div class="slide" id="infosEtudiants">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<button onClick="slideToAnchor('#slide_container_content_etudiants','0')" class="btn btn-perso float-left">
										<img src="{{ asset('img/system/defaults/left_arrow.png') }}" alt="" class="btn_arrow"/>
										Videos
									</button>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>
										Infos
									</h3>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

									<button onClick="slideToAnchor('#slide_container_content_etudiants','2')" class="btn btn-perso float-right">
										Photos
										<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_arrow"/>
									</button>
								</div>
							</div>

							<div class="slide_content">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="well italic">
										« Noël approche dans le petit village minier de Progreso perché à 4.100 m d’altitude et pourtant Clenmary a la tête ailleurs. Cette jeune bergère de 16 ans doit rejoindre Cusco pour étudier. C’est la peur au ventre qu’elle quitte ses moutons pour le bruit et l’agitation d’une ville qu’elle ne connait pas. La force de son rêve l’emporte et domine son appréhension. Elle rêve de devenir psychologue mais le chemin est long et compliqué. » 
									</div>
								</div>

								<br/><br/>
								
								<h4>
									Aide aux étudiants
								</h4>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<p class="left">
										Mission Andina œuvre pour amortir au maximum l’atterrissage de ses jeunes qui gagnent les villes pour étudier.
										<br/>
										L’aide de l’association est principalement liée :

										<ul class="slide_ul">
											<li>
												aux frais d’étude : un cursus complet coûte environ 600 euros, 
											</li>
											<li>
												au logement : une chambre décente, un lit, un bureau et une chaise à moins de 1 heure de transport de l’université coûte en moyenne 40 euros par mois,
											</li>
											<li>
												aux frais quotidiens qui s’élèvent à environ 20 euros par semaine.
											</li>
										</ul>
									</p>
								</div>
							</div>
						</div>
					    <div class="slide" id="photosEtudiants">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<button onClick="slideToAnchor('#slide_container_content_etudiants','1')" class="btn btn-perso float-left">
										<img src="{{ asset('img/system/defaults/left_arrow.png') }}" alt="" class="btn_arrow"/>
										Infos
									</button>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>
										Photos
									</h3>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								</div>
							</div>

							<div class="slide_content">
								{% if photosEtudiants|length > 0 %}
									{% for photo in photosEtudiants %}
										<div class="col-md-2 col-xs-2">
											<div class="article_photo_container">
												<div class="photo_default" style="width: 100%; min-height:100px; background-image: url('{{ asset( photo.webPath) }}'); background-size: cover; background-position: 50%;" alt="{{ photo.alt }}"  onClick="showPhotoCarousel('{{ asset(photo.webPath) }}')">
							                    </div>
											</div>
											<script type="text/javascript">
												var cw = $('.photo_default').width();
												$('.photo_default').css({'height':cw+'px'});
											</script>
											<div class="center">
												<strong>
													{{ photo.title }}
												</strong>
											</div>
										</div>
									{% endfor %}
								{% else %}
									<p class="center">
										Aucune photos pour l'instant
									</p>
								{% endif %}
							</div>
						</div>

					</div>
				</div>

			</div>


			<!-- Les jeunes pro -->
			<div class="section section_jeunesPro" id="jeunesPro">

				<h2>
					Jeunes pro
				</h2>

				<div class="slide_container" id="slide_container_content_jeunesPro">
					<div class="slide_container_content">
						
						<div class="slide" id="videosJeunesPro">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>
										Vidéos
									</h3>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<button onClick="slideToAnchor('#slide_container_content_jeunesPro','1')" class="btn btn-perso float-right">
										Infos
										<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_arrow"/>
									</button>
								</div>
							</div>

							<div class="slide_content">
								{% if videosJeunesPro|length > 0 %}
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 left">
										<br/><br/>
										<strong>
											Vidéos :
										</strong>
										{% if videosJeunesPro|length > 0 %}
											<ul class="list_no_style_li list_videos">
												{% for video in videosJeunesPro %}
													<li class="video_link {% if video == videoAsked %}li_video_active{% endif %}" id="video_jep_{{ video.id }}">
														<a href="javascript:displaySelectedVideo('{{ path('ma_main_homepage_elementAjax', {'elementType':'video', 'elementId':video.id}) }}', 'video_content_jeunesPro', 'video_jep_{{ video.id }}')" class="no_style_a">
															{{ video.title|truncate(40, false, '...') }}
														</a>
														<span class="float-right arrow_article">
															<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt=""/>
														</span>
														<span class="float-right date_article">
															{% if video.createdAt|length > 0 %}
																{{ video.createdAt|date('d M Y') }}
															{% else %}
																(Vide)
															{% endif %}
														</span>
													</li>
												{% endfor %}
											</ul>
										{% else %}
											Aucune vidéo
										{% endif %}
									</div>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 border_black_left">
										<div id="video_content_jeunesPro">
											{% set no_video_found_jeunesPro = 'NO' %}
											{% for video in videosJeunesPro %}
												{% if video == videoAsked %}
													{% if videoAsked.title|length > 0 and videoAsked.link|length > 0 %}

														<!-- 16:9 aspect ratio -->
														<div class="embed-responsive embed-responsive-16by9">
														  <iframe class="embed-responsive-item" src="{{ videoAsked.link }}"></iframe>
														</div>
														<br/>
														<div class="center">
															<strong>
																{{ videoAsked.title }}
															</strong>
														</div>
													{% else %}
														<p class="center">
															Cette vidéo n'est pas complète.
														</p>
													{% endif %}
													{% set no_video_found_jeunesPro = 'YES' %}
												{% endif %}
											{% endfor %}
											{% if no_video_found_jeunesPro == 'NO' %}
												<p class="center">
													Aucune vidéo n'a été sélectionnée. Choisissez celle que vous désirez voir sur votre gauche.
												</p>
											{% endif %}
										</div>
									</div>
								{% else %}
									<p class="center">
										Aucune vidéos pour l'instant
									</p>
								{% endif %}
							</div>
						</div>

						<div class="slide" id="infosJeunesPro">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<button onClick="slideToAnchor('#slide_container_content_jeunesPro','0')" class="btn btn-perso float-left">
										<img src="{{ asset('img/system/defaults/left_arrow.png') }}" alt="" class="btn_arrow"/>
										Videos
									</button>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>
										Infos
									</h3>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

									<button onClick="slideToAnchor('#slide_container_content_jeunesPro','2')" class="btn btn-perso float-right">
										Photos
										<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_arrow"/>
									</button>
								</div>
							</div>

							<div class="slide_content">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="well italic">
										« Alex a 21 ans, il étudie le tourisme. Il lui reste à financer sa dernière année. 3 soirs par semaine, il danse dans les restaurants de la place d’Armes de Cusco pour mettre de l’argent de côté. Il lui manque également quelques économies pour passer son permis et décrocher un petit boulot, des livraisons pour la municipalité, ce qui lui permettra de payer sa dernière année d’étude. Alex habite dans les hauts de Cusco dans une maison où résonne le quechua entre les murs de terre. Il a 5 frères et sœurs, le désir d’avancer dans la vie et le rêve de devenir footballeur professionnel ! »
									</div>
								</div>

								<br/><br/>
								
								<h4>
									Insertion professionnelle des jeunes
								</h4>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<p class="left">
										Mission Andina soutient les projets professionnels des jeunes qui ont fini ou qui sont sur le point de finir leurs études. Ces aides peuvent prendre plusieurs formes et ont pour but de responsabiliser le jeune aidé :
										<ul class="slide_ul">
											<li>
												Financement du permis de conduire,
											</li>
											<li>
												Aide à la création d’entreprise,l’université coûte en moyenne 40 euros par mois,
											</li>
											<li>
												Soutien pour le développement d’un négoce,
											</li>
											<li>
												Embauche et formation au sein d’une entreprise péruvienne membre du réseau Mission Andina.
											</li>
										</ul>
									</p>
								</div>
							</div>
						</div>
					    <div class="slide" id="photosJeunesPro">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<button onClick="slideToAnchor('#slide_container_content_jeunesPro','1')" class="btn btn-perso float-left">
										<img src="{{ asset('img/system/defaults/left_arrow.png') }}" alt="" class="btn_arrow"/>
										Infos
									</button>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>
										Photos
									</h3>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								</div>
							</div>

							<div class="slide_content">
								{% if photosJeunesPro|length > 0 %}
									{% for photo in photosJeunesPro %}
										<div class="col-md-2 col-xs-2">
											<div class="article_photo_container">
												<div class="photo_default" style="width: 100%; min-height:100px; background-image: url('{{ asset( photo.webPath) }}'); background-size: cover; background-position: 50%;" alt="{{ photo.alt }}" onClick="showPhotoCarousel('{{ asset(photo.webPath) }}')">
							                    </div>
											</div>
											<script type="text/javascript">
												var cw = $('.photo_default').width();
												$('.photo_default').css({'height':cw+'px'});
											</script>
											<div class="center">
												<strong>
													{{ photo.title }}
												</strong>
											</div>
										</div>
									{% endfor %}
								{% else %}
									<p class="center">
										Aucune photos pour l'instant
									</p>
								{% endif %}
							</div>
						</div>

					</div>
				</div>

			</div>

			<!-- L'actu -->
			<div class="section" id="nosBesoins">

				<script>
					var listOfIdsToShow = [];
					var shown = false;

					function showAllBesoins() {
						if (shown == false) {
							for (var i = 0; i < listOfIdsToShow.length; i++) {
								$(listOfIdsToShow[i]).collapse('show');
							}
							shown = true;
							$("#button_show_besoins").html("Annuler");
						}
						else {
							for (var i = 0; i < listOfIdsToShow.length; i++) {
								$(listOfIdsToShow[i]).collapse('hide');
							}
							shown = false;
							$("#button_show_besoins").html("Tout afficher");
						}
					}
				</script>

				<div class="row">
					<div class="row ">
		        		<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
		        		</div>
		        		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<h2>
								Nos besoins
							</h2>
							<div class="center italic">
								Tous les projets en détails
							</div>
		        		</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<button class="float-right btn btn-perso" onClick="showAllBesoins()">
								<span id="button_show_besoins">
									Tout afficher
								</span>
								<img src="{{ asset('img/system/defaults/down_arrow.png') }}" alt="" class="btn_arrow"/>
							</button>
						</div>
					</div>
					<hr class="dark_hr"/>
					<div class="row">
						{% if people|length > 0 %}
							{% for single_person in people %}
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				    				<div class="row">
				    					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
				    						{% if single_person.alt|length > 0  and single_person.url|length > 0 %}
												<div class="besoin_photo" style="width: 100%; min-height:100px; background-image: url('{{ asset(single_person.webPath) }}'); background-size: cover; background-position: 50%;" alt="Default" onClick="showPhotoCarousel('{{ asset(single_person.webPath) }}')"></div>
						                   {% else %}
					                   			<div class="besoin_photo" style="width: 100%; min-height:100px; background-image: url('{{ asset('img/system/defaults/default_besoin.jpg') }}'); background-size: cover; background-position: 50%;" alt="Default" onClick="showPhotoCarousel('{{ asset('img/system/defaults/default_besoin.png') }}')"></div>
						                   {% endif %}

											<script>
							                    var cw = $('.besoin_photo').width();
							                    $('.besoin_photo').css({'height':cw+'px'});
						                        changeCSSsheet('.besoin_photo', 'height', cw+'px');
											</script>
				    					</div>
				    					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
				    						<h4 class="left">
				    							{{ single_person.name }} <button class="no_style_button button_besoin_info" type="button" data-toggle="collapse" data-target="#showDescription_{{ single_person.id }}" aria-expanded="false" aria-controls="showDescription_{{ single_person.id }}">En savoir plus ></button>
				    						</h4>
				    						<div class="row">
												<div class="collapse" id="showDescription_{{ single_person.id }}">
													{{ single_person.description|raw }}
												</div>
				    						</div>
				    						<div class="row">
				    							{% set hasProject = 'NO' %}
												{% if projects|length > 0 %}
													{% for single_project in projects %}
														{% if single_project.forPerson == single_person %}
															<div class="thumbnail">
																{% set project_pourcentage = single_project.currentAmount / single_project.totalAmount %}
														  		{% set project_pourcentage = project_pourcentage * 100 %}
														  		{% set project_pourcentage = project_pourcentage|round %}
														  		<div class="caption">
															    	<strong>
															    		{{ single_project.title }} :
															    	</strong>
															    	<button class="no_style_button prix_subvention_div" type="button" data-toggle="collapse" data-target="#showProject_{{ single_project.id }}" aria-expanded="false" aria-controls="showProject_{{ single_project.id }}">
														    			<script>
														    				listOfIdsToShow.push('#showProject_{{ single_project.id }}');
														    			</script>
																		<div class="prix_subvention
																			{% if project_pourcentage == 100 %}
																  					prix_check_success
																  					{% elseif project_pourcentage > 50 %}
																  					prix_check_info
																  					{% elseif project_pourcentage > 25 %}
																  					prix_check_warning
																  					{% else %}
																  					prix_check_danger
																  					{% endif %}">
														  					<strong>S/.</strong> {{ single_project.totalAmount }}
																		</div>
															    	</button>
														  		</div>
														  		<div class="pourcentage collapse" id="showProject_{{ single_project.id }}">
														  			<div class="progress">
														  				<div class="progress-bar 
														  					{% if project_pourcentage == 100 %}
														  					progress-bar-success
														  					{% elseif project_pourcentage > 50 %}
														  					progress-bar-info
														  					{% elseif project_pourcentage > 25 %}
														  					progress-bar-warning
														  					{% else %}
														  					progress-bar-danger
														  					{% endif %}
														  					progress-bar-striped active" role="progressbar" aria-valuenow="{{ project_pourcentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ project_pourcentage }}%">
														  					{{ project_pourcentage }} %
														  				</div>
																	</div>
																	<div class="row center">
																		Total récolté : 
																		<span class="
																			{% if project_pourcentage == 100 %}
														  					prix_recolte_success
														  					{% elseif project_pourcentage > 50 %}
														  					prix_recolte_info
														  					{% elseif project_pourcentage > 25 %}
														  					prix_recolte_warning
														  					{% else %}
														  					prix_recolte_danger
														  					{% endif %}">
																			<strong>S/.</strong> {{ single_project.currentAmount }} 
																		</span>
																	</div>
														  		</div>
														  	</div>
														  	{% set hasProject = 'YES' %}
														{% endif %}
													{% endfor %}
												{% endif %}

												{% if hasProject == 'NO' %}
													<div class="center">
														Ce bénéficiaire n'a aucune projet pour le moment.
													</div>
												{% endif %}	
				    						</div>
				    					</div>
				    				</div>
					    			<hr class="medium_hr"/>
				    			</div>							
							{% endfor %}
						{% else %}
							<div class="center">
								Aucun bénéficiaires pour le moment. Merci de votre patience.
							</div>
						{% endif %}
	    			</div>

				</div>

			</div>

			

			<!-- L'association -->
			<div class="section" id="assoc">

				<div class="row80">
					<h2>
						L'association
					</h2>
					<!-- <hr class="dark_hr"/> -->
				</div>

				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <div class="thumbnail">
					      <div class="caption">
					        <h3>
					        	Qui sommes-nous
					        </h3>
					        <ul>
								<li>
									Après quelques années en France, <strong>Aude</strong> <span class="italic">(Présidente de l’association)</span>, Antoine et leurs deux enfants décident de s’expatrier au Pérou à Cusco. Ils se lancent dans la création d’une entreprise de photo et d’un atelier de charcuterie. Afin de donner du sens à leurs projets, ils créent l’association Mission Andina avec Bénédicte. Dans leur maison, une chambre est réservée à un jeune sans ressource venu étudier à Cusco.
								</li>
								<li>
									<strong>Bénédicte</strong> <span class="italic">(secrétaire de l’association)</span> est la sœur d’Antoine, elle travaille en France et gère les différents partenariats entre la France et le Pérou.
								</li>
								<li>
									<strong>Adolfo</strong> <span class="italic">(trésorier de l’association)</span> est un jeune péruvien de Cusco. Il est orphelin depuis très jeune. Il travaille pour le circuit touristique religieux de Cusco et son expérience est un atout pour Mission Andina qui, grâce à lui, peut cibler ses aides de manière plus précise.
								</li>
								<li>
									Le <strong>Père Christian</strong> est missionnaire dans l’Apurimac. Il nous aide à orienter les fonds récoltés pour les écoles et nous conseille quant aux jeunes à soutenir en priorité.
								</li>
								<li>
									<strong>Pierre-Arnaud</strong> participe au développement de l’association grâce à ses talents pour la communication et en particulier pour ce qui est du site internet.
								</li>
					        </ul>
					      </div>
					    </div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <div class="thumbnail">
					      <div class="caption">
					        <h3>La charte</h3>
					        	<p>
					        		Issus des villages reculés de l’Apurimac, région pauvre de la Cordillère des Andes, les jeunes péruviens se heurtent aux décalages scolaire et social. Ils arrivent à Abancay, Cusco ou Lima pour étudier et souvent ils échouent faute de moyens et d’accompagnement. Mission Andina leur offre ces moyens pour étudier dans de bonnes conditions, se nourrir et se loger.
					        	</p>
								<p>
									L’association est fondée sur la conception chrétienne de l’Homme. Son idée est de construire un monde où tout homme, sans exception de race, de religion, de nationalité, puisse vivre une vie pleinement humaine.
								</p>
								<p>
									Les membres de l’association ont en commun la conviction que chacun à sa manière peut aider au développement des nations. Ce développement ne se réduit pas à la simple dimension économique. Pour être authentique, il doit être intégral, c'est-à-dire promouvoir tout homme et tout l’homme.
								</p>
								<p>
									Vécu en commun, dans l’espoir, la souffrance, l’ambition et la joie partagée, le travail unit les volontés, rapproche les esprits et soude les cœurs. En l’accomplissant, les hommes se découvrent frères.
								</p>
								<p>
									L’objet de l’association est de permettre l’épanouissement économique de la personne aidée pour que celle-ci puisse :
									<ul>
										<li>
											assumer financièrement sa famille,
										</li>
										<li>
											aider à son tour d’autres jeunes en difficulté,
										</li>
										<li>
											et donc coopérer à sa manière au développement de son pays.
										</li>
									</ul>
								</p>
								<p>
									Cet épanouissement est possible grâce à la responsabilisation et à l’autonomie financière de la personne aidée.
								</p>
								<p>
									Pour cela, Mission Andina a développé 3 programmes :
								</p>
								<p>
									<ul>
										<li>
											Aide aux écoliers des villages reculés autour de Cusco,
										</li>
										<li>
											Aide aux jeunes quittant leurs villages pour venir étudier en ville,
										</li>
										<li>
											Aide à l’épanouissement économique de jeunes professionnels.
										</li>
									</ul>
								</p>
					      </div>
					    </div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
					    <div class="thumbnail">
					      <div class="caption">
					        <h3>
					        	Quelques repères
					        </h3>
								<p>
									Clenmary, John, Ademir, Marcos, Eduardo, Flor ou Alex ont tous comme point commun la volonté de réussir et d’offrir à leurs enfants une meilleure vie que celle qu’ils ont connue. 
								</p>
								<p>
									Ils ne sont que quelques exemples parmi une multitude. Découvrez leurs histoires et partagez leur quotidien.
								</p>
								<p>
									Avant de rejoindre l’aventure voici quelques comparaisons qui vous permettront de mieux imaginer leur univers andin :
									<ul>
										<li>
											Salaire minimum à Cusco = 215 euros par mois
										</li>
										<li>
											Salaire moyen à Cusco = 350 euros
										</li>
										<li>
											Un litre de gasoil = 0,90 euros
										</li>
										<li>
											Un petit pain de 50 grammes = 0,06 euros
										</li>
										<li>
											Un menu comprenant une soupe + un plat de poulet avec du riz = 2,30 euros
										</li>
										<li>
											Une chambre de 15 m² avec sanitaires sur le palier = 42 euros par mois
										</li>
										<li>
											Une place dans un foyer = 30 euros par mois
										</li>
										<li>
											L’académie (3 mois de préparation au concours d’entrée à l’université) = 195 euros
										</li>
										<li>
											Droit d’entrée à l’université = 95 euros
										</li>
										<li>
											Un mois d’étude = entre 0 et 140 euros
										</li>
									</ul>
								</p>
					      </div>
					    </div>
					</div>
				</div>

			</div>

			<!-- BEGIN FOOTER -->
	          {% include 'includes/footer.html.twig' %}
	        <!-- END FOOTER -->

		</div>

	</div>
	<!-- END CONTENT -->

{% endblock MA_Main_body %}