{# src/MA/MainBundle/Resources/Main/indexMain.html.twig #}

{% extends "MAMainBundle::main_general.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block MA_Main_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">

			<div id="photo_background">

				<div id="photo_background_frame">
					{% for id_n in 1..60 %}
						<div class="photo_background_sq">
							<div class="photo_background_sq_content" id="photo_background_sq_{{ id_n }}">
								<div class="front" style="width: 100%;  background-size: cover; background-position: 50%;" id="photo_background_sq_{{ id_n }}_f">
								</div>
								<div class="back" style="width: 100%;  background-size: cover; background-position: 50%;" id="photo_background_sq_{{ id_n }}_b">
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

				<script>
					// Images available
					var listImages = [];
				</script>
				{# for inc in 1..72 %}
					{% set photoLink = 'img/homePhotos/' ~ inc ~ '.jpg' %}
					<script>
                  		var imgLink = "{{ asset(photoLink)}}";
                  		listImages['{{ inc }}'] = imgLink;
					</script>
				{% endfor #}
				{% set index_diapo = 1 %}
				{% for diapo in diapos %}
					<script>
                  		var imgLink = "{{ asset(diapo.webPath)}}";
                  		listImages['{{ index_diapo }}'] = imgLink;
					</script>
					{% set index_diapo = index_diapo + 1 %}
				{% endfor %}
				
				<script type="text/javascript">
					function changeCSSsheet(selector, property, value) {
					    for (var i=0; i < document.styleSheets.length;i++) { //Loop through all styles
					        //Try add rule
					        try { document.styleSheets[i].insertRule(selector+ ' {'+property+':'+value+'}', document.styleSheets[i].cssRules.length);
					        } catch(err) {try { document.styleSheets[i].addRule(selector, property+':'+value);} catch(err) {}}//IE
					    }
					}

              		var window_height = window.innerHeight;
				    var window_width = window.innerWidth;
                  	$(function(){
                  		// Set photobackground to window size
					    changeCSSsheet('#photo_background', 'width', window_width+'px !important');
					    changeCSSsheet('#photo_background', 'height', window_height+'px !important');
					    $('#photo_background').css({'height':window_height+'px', 'width':window_width+'px'});
	                  	
	                  	// Measure how many squares needed
	                  	// alert('Window height '+window_height);
	                  	var band_future_height = window_height * 0.55 ;
	                  	// alert('Band height '+band_future_height);
	                  	var cell_future_height = Math.ceil((band_future_height / 3)) - 8;
	                  	// alert('Cell height '+cell_future_height);
	                  	band_future_height = (cell_future_height + 8) * 3;
	                  	// alert('NEW Band height '+band_future_height);
	                  	var inOneRow = Math.floor((window_width - (window_width % (cell_future_height + 8) )) / (cell_future_height + 8));
	                  	// alert('Number in row '+inOneRow);
	                  	var totalSquares = inOneRow * 5;
	                  	// alert('Number total '+totalSquares);

					    // Set photos square and band to 3 rows
					    changeCSSsheet('.photo_background_sq', 'width', cell_future_height+'px !important');
					    changeCSSsheet('.photo_background_sq', 'height', cell_future_height+'px !important');
					    $('.photo_background_sq').css({'height':cell_future_height+'px', 'width':cell_future_height+'px'});
					    changeCSSsheet('#photo_background_frame', 'height', band_future_height+'px');
					    // alert('NEW Band height '+band_future_height+' when Window height '+window_height);
					    $('#photo_background_frame').css({'height':band_future_height+'px'});
	                  	var bg_photo_content_height = $('.photo_background_sq_content').width();
	                  	$('.photo_background_sq_content').css({'height':bg_photo_content_height+'px'});


	                  	// Div ids
	                  	var listIds = [];
	                  	var listActive = [];
	                  	for (var i = 0; i < totalSquares + 1; i++) {
	                  		var el = '#photo_background_sq_'+i;
	                  		var face = '#photo_background_sq_'+i+'_f';
	                  		listIds[i] = el;
		                  	$(el).flip();
	                  		listActive[i] = true;
	                  		// Images displayed
	                  		var imgToDisplay = listImages[Math.floor(Math.random()*listImages.length)];
	                  		$(face).css({'background-image':'url('+imgToDisplay+')'});
	                  	}

	                  	// Axis
	                  	var axisList = ['x', 'y'];

	                  	// Set flip random
	                  	setInterval(function () {
	                  		var rank = Math.floor(Math.random()*listIds.length);
	                  		var idToFlip = listIds[rank];
	                  		var isActive = listActive[rank];
	                  		if (isActive == true) {
	                  			// Change back
	                  			var face = idToFlip+'_b';
	                  			var imgToDisplay = listImages[Math.floor(Math.random()*listImages.length)];
	                  			$(face).css({'background-image':'url('+imgToDisplay+')'});
	                  			listActive[rank] = false;
	                  		}
	                  		else {
	                  			// Change front
	                  			var face = idToFlip+'_f';
	                  			var imgToDisplay = listImages[Math.floor(Math.random()*listImages.length)];
	                  			$(face).css({'background-image':'url('+imgToDisplay+')'});	
	                  			listActive[rank] = true;
	                  		}
	                  		var axisSelect = axisList[Math.floor(Math.random()*axisList.length)];
	                  		$(idToFlip).flip(isActive);
	                  		// {
	                  		// 	reverse: isActive,
		                  	// 	axis: axisSelect,
		                  	// 	speed: 1000
	                  		// });
	                  	}, 1000);
				    });
                </script>
			</div>

			<!-- Buttons accueil -->
			<div class="row center hidden-xs">
				<div class="div-btn-btm-accueil" id="btn-accueil">
					<div class="btn-accueil" id="btn-accueil-l">
						<a href="#ecoliers" class="btn btn_ecoliers no_style_a uppercase">
							Ecoliers
						</a>
					</div>
					<div class="btn-accueil" id="btn-accueil-c">
						<a href="#etudiants" class="btn btn_etudiants no_style_a uppercase">
							Etudiants
						</a>
					</div>
					<div class="btn-accueil" id="btn-accueil-r">
						<a href="#jeunesPro" class="btn btn_jeunesPro no_style_a uppercase">
							Jeunes pro
						</a>
					</div>
				</div>
			</div>

			<!-- Diapo -->
			<div class="section section_diapo" id="diapo" style="display:none;">
				<button class="btn btn-diapo-close" onClick="closeDiapo()">
					&#x2716;
				</button>
			</div>


			<!-- Accueil -->
			<div class="section section_home" id="accueil">

				<div class="uppercase hidden-xs" id="menu_top">
					<div id="div_logo_welcome">
						<img src="{{ asset('img/system/logo/logo.png') }}" alt="Logo" id="logo_welcome"/>
					</div>
					<div class="" id="buttonToDiapo">
						<button class="btn btn-diapo" onClick="goToDiapo()">
							<img src="{{ asset('img/system/defaults/right_arrow_white_spe.png') }}" alt="" class="btn_arrow"/>
							 DIAPORAMA 
							<img src="{{ asset('img/system/defaults/left_arrow_white_spe.png') }}" alt="" class="btn_arrow"/>
						</button>
					</div>
					<div class="">
						<a href="{{ path('ma_main_homepage') }}#actu" class="no_style_a">
							L'actualité
						</a>
					</div>
					<div class="dropdown">
					    <a class="dropdown-toggle no_style_a" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
					      Notre action <span class="caret"></span>
					    </a>
					    <ul class="dropdown-menu dropdown-menu-spe" role="menu">
					    	<li>
				          		<a href="{{ path('ma_main_homepage') }}#ecoliers">
				          			Ecoliers
				          		</a>
				          	</li>
				          	<li>
				          		<a href="{{ path('ma_main_homepage') }}#etudiants">
				          			Etudiants
				          		</a>
				          	</li>
				          	<li>
				          		<a href="{{ path('ma_main_homepage') }}#jeunesPro">
				          			Jeunes pro
				          		</a>
				          	</li>
					    </ul>
					</div>
					<div  class="">
						<a href="{{ path('ma_main_homepage') }}#nosBesoins" class="no_style_a">
							Nos besoins
						</a>
					</div>
					<div class="dropdown">
					    <a class="dropdown-toggle no_style_a" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
					      	L'association <span class="caret"></span>
					    </a>
					    <ul class="dropdown-menu dropdown-menu-spe" role="menu">
				          	<li>
				          		<a href="{{ path('ma_main_homepage') }}#assoc">
				          			Qui sommes-nous ?
				          		</a>
				          	</li>
				          	<li>
				          		<a href="{{ path('ma_main_homepage') }}#assoc">
				          			La charte
				          		</a>
				          	</li>
				          	<li>
				          		<a href="{{ path('ma_main_homepage') }}#assoc">
				          			Quelques repères
				          		</a>
				          	</li>
					    </ul>
					</div>
					<div class="">
						<a href="{{ path('ma_main_homepage') }}#footer" class="no_style_a">
							Contact
						</a>
					</div>

					<div class="header_help_a">
						<a href="{{ path('ma_main_helpUs') }}" class="no_style_a">
							Nous aider
						</a>
					</div>
				</div>

				<script>
					var band_height_original ;
					function goToDiapo() {
						$('#photo_background_frame').animate({'margin-top':'0px'}, 1000, function() {
	                        // changeCSSsheet('#photo_background', 'position', 'fixed');
	                        $('#photo_background').animate({'opacity':'1'});
	                        band_height_original = $('#photo_background_frame').height() + 8;
	                        var window_height = window.innerHeight;
	                        $('#photo_background_frame').animate({'height':window_height+'px'});
	                        $("body").css("overflow", "hidden");
	                        $('#diapo').fadeIn('slow');
	                        $('#buttonToDiapo').animate({'opacity':'0'});
	                        $('#side_buttons').animate({'opacity':'0'});
	                        $('.header').animate({'opacity':'0'});
	                        $('#nav_clavier').animate({'opacity':'0'});
	                        $('#home_quote').animate({'opacity':'0'});
	                        $('#btn-accueil').animate({'opacity':'0'});
	                        $('#social_media').animate({'opacity':'0'});
	                        $('#div_logo_welcome').animate({'opacity':'0'});
	                        allowedToScrollWithKeys = false;
						});
					}
					function closeDiapo() {
						$('#photo_background_frame').animate({'margin-top':'100px'}, 1000, function() {
	                        // changeCSSsheet('#photo_background', 'position', 'absolute');
	                        $('#photo_background_frame').animate({'height':band_height_original+'px'});
	                        $('#photo_background').animate({'opacity':'0.3'});
	                        $("body").css("overflow", "scroll");
	                        $('#diapo').fadeOut('slow');
	                        $('#buttonToDiapo').animate({'opacity':'1'});
	                        $('#side_buttons').animate({'opacity':'1'});
	                        $('.header').animate({'opacity':'1'});
	                        $('#nav_clavier').animate({'opacity':'1'});
	                        $('#home_quote').animate({'opacity':'1'});
	                        $('#btn-accueil').animate({'opacity':'1'});
	                        $('#social_media').animate({'opacity':'1'});
	                        $('#div_logo_welcome').animate({'opacity':'1'});
	                        allowedToScrollWithKeys = true;
	                    });
					}
				</script>


				<h1>
					<strong>Mission Andina</strong>
					<br/>
					<span>
						Des projets économiques au service du développement humain
					</span>
				</h1>


				<div class="row center home_message hidden-xs" id="nav_clavier">
					<strong>NOUVEAU!</strong> Voyagez dans notre univers avec vos flêches de clavier : 
					<img src="{{ asset('img/system/scroll-icons/left-key.png') }}" alt="left" class="scroll-icons scroll-icons-left"/>
					<img src="{{ asset('img/system/scroll-icons/up-key.png') }}" alt="up" class="scroll-icons scroll-icons-up"/>
					<img src="{{ asset('img/system/scroll-icons/right-key.png') }}" alt="right" class="scroll-icons scroll-icons-right"/>
					<img src="{{ asset('img/system/scroll-icons/down-key.png') }}" alt="down" class="scroll-icons scroll-icons-down"/>
				</div>		
		

				<div class="row home_quote" id="home_quote">
					Aidez-nous à ne pas dépendre de vous.
				</div>
			</div>


			<!-- L'actu -->
			{% set photoSectionActu = '' %}
			{% if BGPhotos|length > 0 %}
				{% for photo in BGPhotos %}
					{% if photo.sectionName == 'actu' %}
						{% set photoSectionActu = photo %}
					{% endif %}
				{% endfor %}
			{% endif %}
			<div class="section section_actu" id="actu" style="background-image: url('{{ asset(photoSectionActu.webPath) }}'); background-size: cover; background-position: 50%;">

				<script>
					var articlesContent;
				</script>


				<div class="row actu">
					<div class="row">
						<h2>
							Actu
						</h2>
						<div class="center italic">
							Toute l'information à jour
						</div>

					</div>
					<div class="row">
		    			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
		    				<div class="thumbnail thumbnail_article">
		    					
			    				<h3 class="left">
									Articles :
			    				</h3>

								{% if articles|length > 0 %}
									<ul class="list_no_style_li list_articles">
										{% for single_article in articles %}
											<li class="article_link {% if single_article == articleAsked %}li_article_active{% endif %}" id="article_n_{{ single_article.id }}">
												<a href="javascript:displaySelectedArticle('{{ path('ma_main_homepage_elementAjax', {'elementType':'article', 'elementId':single_article.id}) }}', 'article_n_{{ single_article.id }}')" class="no_style_a">
													<span class="hidden-lg">
														{{ single_article.title|truncate(20, false, '...') }}
													</span>
													<span class="hidden-xs hidden-sm hidden-md">
														{{ single_article.title }}
													</span>
													<span class="float-right arrow_article">
														<img src="{{ asset('img/system/defaults/right_arrow_spe.png') }}" alt=""/>
													</span>
													<span class="float-right date_article hidden-xs">
														{% if single_article.createdAt|length > 0 %}
															{{ single_article.createdAt|date('d M Y') }}
														{% else %}
															(Vide)
														{% endif %}
													</span>
												</a>
											</li>

											<!-- Modal article -->
											<div class="modal fade" id="modal_article_art_{{ single_article.id }}" tabindex="-{{ single_article.id }}" role="dialog" aria-labelledby="modal_articleLabel" aria-hidden="true">
											  <div class="modal-dialog modal-lg">
											    <div class="modal-content">
											      <div class="modal-header">
											        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											        <h3 class="modal-title">
											        	{{ single_article.title }}
											        </h3>
											      </div>
											      <div class="modal-body">
											        <div class="row">
											          <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
											          <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 left top_info_modal_article">
											          	{{ single_article.place }}
											          </div>
											          <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 right top_info_modal_article">
											            Dernière modification le <span id="modal_articleDate">
											            	{{ single_article.updatedAt|date('d M Y') }}
											            </span> à <span id="modal_articleTime">
											            	{{ single_article.updatedAt|date('H:i') }}
											            </span>
											          </div>
											          <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
											        </div>
											        <div class="row modal_content" id="modal_articleContent">
											          {{ single_article.content|raw }}
											        </div>
											      </div>
											      <div class="modal-footer">
											        <button type="button" class="btn btn-modal" data-dismiss="modal">
											          Fermer
											        </button>
											      </div>
											    </div>
											  </div>
											</div>
											
										{% endfor %}
									</ul>

									<br/><br/>
								{% else %}
									Aucun article disponible pour l'instant
								{% endif %}
		    				</div>
						</div>

						<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
							<div class="row" id="article_content">
								{% if articleAsked.title|length > 0 %}
									<div>
										{% if articleAsked.alt|length > 0  and articleAsked.url|length > 0 %}
											<div class="article_photo_container">
												<div class="article_photo curve" style="width: 100%; min-height:100px; background-image: url('{{ asset( articleAsked.webPath) }}'); background-size: cover; background-position: 50%;" alt="{{ articleAsked.alt }}" onClick="showPhotoCarousel('{{ asset(articleAsked.webPath) }}')">
													<img src="{{ asset('img/system/content/pin_pics.png') }}" alt="Pin" class="pin_article"/>
							                    </div>
											</div>
					                   {% else %}
											<div class="article_photo_container">
						                   		<div class="article_photo" style="width: 100%; min-height:100px; background-image: url('{{ asset('img/system/defaults/default_article_photo.png') }}'); background-size: cover; background-position: 50%;" alt="Default">
							                    </div>
											</div>
					                   {% endif %}
									</div>
									<div class="row">
										<h3>
											{% if articleAsked.title|length > 0 %}
												{{ articleAsked.title|raw }}
											{% else %}
												(Titre vide)
											{% endif %}
										</h3>
										<div class="center date_article_lg">
											{% if articleAsked.place|length > 0 %}
												à {{ articleAsked.place }},
											{% endif %}
											{% if articleAsked.createdAt|length > 0 %}
												le {{ articleAsked.createdAt|date('d M Y') }} à {{ articleAsked.createdAt|date('H:i') }}
											{% endif %}
										</div>
									</div>

									<br/><br/>
									
									<div class="row center">
										{% if articleAsked.content|length > 0 %}
											<!-- Button trigger modal -->
											<!-- <button type="button" class="btn btn-perso" data-toggle="modal" data-target="#modal_article_art_{{ articleAsked.id }}" data-backdrop="true" data-keyboard="true">
											</button> -->

											<button type="button" class="btn btn-for-side" onClick="showFullArticle('#modal_article_art_{{ articleAsked.id }}')">
												Lire l'article
											</button>
										{% else %}
											(Article vide)
										{% endif %}
									</div>
								{% endif %}
							</div>
							<div id="article_photo_script">
								<script type="text/javascript">
			                        function showFullArticle(modalID) {
										$(modalID).modal('show');
									}
								</script>
							</div>

						</div>
	    			</div>

				</div>

			</div>
			

			<!-- Les écoliers -->
			{% set photoSectionEcoliers = '' %}
			{% if BGPhotos|length > 0 %}
				{% for photo in BGPhotos %}
					{% if photo.sectionName == 'ecoliers' %}
						{% set photoSectionEcoliers = photo %}
					{% endif %}
				{% endfor %}
			{% endif %}
			<div class="section section_ecoliers" id="ecoliers" style="background-image: url('{{ asset(photoSectionEcoliers.webPath) }}'); background-size: cover; background-position: 50%;">
				<h2>
					Ecoliers
				</h2>

				<div class="slide_container" id="slide_container_content_ecoliers">
					<div class="slide_container_content">
						
						<div class="slide" id="videosEcoliers">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>
										Vidéos
									</h3>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<button onClick="slideToAnchor('#slide_container_content_ecoliers','1')" class="btn btn-for-side float-right">
										Infos
										<img src="{{ asset('img/system/defaults/right_arrow_spe.png') }}" alt="" class="btn_arrow"/>
									</button>
								</div>
							</div>

							<div class="slide_content">
								{% if videosEcoliers|length > 0 %}
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 left">
										<div class="thumbnail thumbnail_video">
			    					
						    				<h4 class="left">
						    					Vidéos
						    				</h4>

											{% if videosEcoliers|length > 0 %}
												<ul class="list_no_style_li list_videos">
													{% for video in videosEcoliers %}
														<li class="video_link {% if video == videoAsked %}li_video_active{% endif %}" id="video_eco_{{ video.id }}">
															<a href="javascript:displaySelectedVideo('{{ path('ma_main_homepage_elementAjax', {'elementType':'video', 'elementId':video.id}) }}', 'video_content_ecoliers', 'video_eco_{{ video.id }}')" class="no_style_a">
																<span class="hidden-lg">
																	{{ video.title|truncate(20, false, '...') }}
																</span>
																<span class="hidden-xs hidden-sm hidden-md">
																	{{ video.title }}
																</span>
															</a>
															<span class="float-right arrow_video">
																<img src="{{ asset('img/system/defaults/right_arrow_spe.png') }}" alt=""/>
															</span>
															<span class="float-right date_video hidden-xs">
																{% if video.createdAt|length > 0 %}
																	{{ video.createdAt|date('d M Y') }}
																{% else %}
																	(Vide)
																{% endif %}
															</span>
														</li>
													{% endfor %}
												</ul>
											{% else %}
												Aucune vidéo
											{% endif %}
					    				</div>
									</div>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-7 ">
										<div id="video_content_ecoliers">
											{% set no_video_found_ecoliers = 'NO' %}
											{% for video in videosEcoliers %}
												{% if video == videoAsked %}
													{% if videoAsked.title|length > 0 and videoAsked.link|length > 0 %}

														<!-- 16:9 aspect ratio -->
														<div class="embed-responsive embed-responsive-16by9">
														  <iframe class="embed-responsive-item" src="{{ videoAsked.link }}"></iframe>
														</div>
														<br/>
														<div class="center">
															<h4>
																{{ videoAsked.title }}
															</h4>
															{% if video.createdAt|length > 0 %}
																<strong>
																	{{ video.createdAt|date('d M Y') }}
																</strong>
															{% else %}
																(Vide)
															{% endif %}
														</div>
													{% else %}
														<p class="center">
															Cette vidéo n'est pas complète.
														</p>
													{% endif %}
													{% set no_video_found_ecoliers = 'YES' %}
												{% endif %}
											{% endfor %}
											{% if no_video_found_ecoliers == 'NO' %}
												<p class="center">
													Aucune vidéo n'a été sélectionnée. Choisissez celle que vous désirez voir sur votre gauche.
												</p>
											{% endif %}
										</div>
									</div>
								{% else %}
									<p class="center">
										Aucune vidéos pour l'instant
									</p>
								{% endif %}
							</div>
						</div>

						<div class="slide" id="infosEcoliers">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<button onClick="slideToAnchor('#slide_container_content_ecoliers','0')" class="btn btn-for-side float-left">
										<img src="{{ asset('img/system/defaults/left_arrow_spe.png') }}" alt="" class="btn_arrow"/>
										Videos
									</button>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3></h3>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

									<button onClick="slideToAnchor('#slide_container_content_ecoliers','2')" class="btn btn-for-side float-right">
										Photos
										<img src="{{ asset('img/system/defaults/right_arrow_spe.png') }}" alt="" class="btn_arrow"/>
									</button>
								</div>
							</div>

							<div class="slide_content row" id="slide_content_Ecoliers">

								<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 board_parent">
									<div style="width: 100%; background-image: url('{{ asset('img/system/content/board_ecoliers.png') }}'); background-size: 100% 100%; background-position: 50%;" alt="Ardoise" class="board_ecoliers italic">
										{% if pages|length > 0 %}
											{% for page in pages %}
												{% if page.dataBaseName == 'Ecoliers_Message' %}
													{{ page.content|raw }}
												{% endif %}
											{% endfor %}
										{% endif %}
									</div>
								</div>

								<div class="hidden-lg hidden-md hidden-sm">
									<br/><br/>
								</div>

								<div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
									{% set contenuEcoliers = '' %}
									{% if pages|length > 0 %}
										{% for page in pages %}
											{% if page.dataBaseName == 'Ecoliers_Contenu' %}
												{% set contenuEcoliers = page %}
											{% endif %}
										{% endfor %}
									{% endif %}
									
									{% if contenuEcoliers.alt|length > 0  and contenuEcoliers.url|length > 0 %}
										<div class="photo_content curve" style="width: 70%; min-height:50px; background-image: url('{{ asset(contenuEcoliers.webPath) }}'); background-size: cover; background-position: 50%;" alt="Photo ecoliers" onClick="showPhotoCarousel('{{ asset(contenuEcoliers.webPath) }}')">
											<img src="{{ asset('img/system/content/pin_pics.png') }}" alt="Pin" class="pin_pics"/>
					                    </div>
				                   	{% else %}
				                   		<div class="photo_content curve" style="width: 70%; min-height:50px; background-image: url('{{ asset('img/system/defaults/default_article_photo.png') }}'); background-size: cover; background-position: 50%;" alt="Photo ecoliers" onClick="showPhotoCarousel('{{ asset('img/system/defaults/default_article_photo.png') }}')">
											<img src="{{ asset('img/system/content/pin_pics.png') }}" alt="Pin" class="pin_pics"/>
					                    </div>
				                   	{% endif %}
									<br/><br/>
									<div class="talkbubble">
										<h3>
											{{ contenuEcoliers.title }}
										</h3>
										{{ contenuEcoliers.content|raw }}
									</div>
									<div class="hidden-lg hidden-md hidden-sm">
										<br/><br/><br/>
									</div>
								</div>
								
							</div>
						</div>
					    <div class="slide" id="photosEcoliers">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<button onClick="slideToAnchor('#slide_container_content_ecoliers','1')" class="btn btn-for-side float-left">
										<img src="{{ asset('img/system/defaults/left_arrow_spe.png') }}" alt="" class="btn_arrow"/>
										Infos
									</button>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>
										Photos
									</h3>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								</div>
							</div>

							<div class="slide_content">
								{% if photosEcoliers|length > 0 %}
									{% for photo in photosEcoliers %}
										<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
											<div class="photo_container">
												{% if photo.alt|length > 0  and photo.url|length > 0 %}
													<div class="photo_default_white photo_action" style="width: 100%; min-height:50px; background-image: url('{{ asset( photo.webPath) }}'); background-size: cover; background-position: 50%;" alt="{{ photo.alt }}" onClick="showPhotoCarousel('{{ asset(photo.webPath) }}')">
								                    </div>
							                   	{% else %}
							                   		<div class="photo_default_white photo_action" style="width: 100%; min-height:50px; background-image: url('{{ asset( 'img/system/defaults/default_article_photo.png') }}'); background-size: cover; background-position: 50%;" alt="Default">
								                    </div>
							                   	{% endif %}
											</div>
											<div class="center">
												<strong>
													{{ photo.title }}
												</strong>
											</div>
										</div>
									{% endfor %}
								{% else %}
									<p class="center">
										Aucune photos pour l'instant
									</p>
								{% endif %}
							</div>
						</div>

					</div>
				</div>

			</div>


			<!-- Les étudiants -->
			{% set photoSectionEtudiants = '' %}
			{% if BGPhotos|length > 0 %}
				{% for photo in BGPhotos %}
					{% if photo.sectionName == 'etudiants' %}
						{% set photoSectionEtudiants = photo %}
					{% endif %}
				{% endfor %}
			{% endif %}
			<div class="section section_etudiants" id="etudiants" style="background-image: url('{{ asset(photoSectionEtudiants.webPath) }}'); background-size: cover; background-position: 50%;">

				<h2>
					Etudiants
				</h2>

				<div class="slide_container" id="slide_container_content_etudiants">
					<div class="slide_container_content">
						
						<div class="slide" id="videosEtudiants">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>
										Vidéos
									</h3>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<button onClick="slideToAnchor('#slide_container_content_etudiants','1')" class="btn btn-for-side float-right">
										Infos
										<img src="{{ asset('img/system/defaults/right_arrow_spe.png') }}" alt="" class="btn_arrow"/>
									</button>
								</div>
							</div>

							<div class="slide_content">
								{% if videosEtudiants|length > 0 %}
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 left">
										<div class="thumbnail thumbnail_video">
			    					
						    				<h4 class="left">
						    					Vidéos
						    				</h4>

											{% if videosEtudiants|length > 0 %}
												<ul class="list_no_style_li list_videos">
													{% for video in videosEtudiants %}
														<li class="video_link {% if video == videoAsked %}li_video_active{% endif %}" id="video_etu_{{ video.id }}">
															<a href="javascript:displaySelectedVideo('{{ path('ma_main_homepage_elementAjax', {'elementType':'video', 'elementId':video.id}) }}', 'video_content_etudiants', 'video_etu_{{ video.id }}')" class="no_style_a">
																<span class="hidden-lg">
																	{{ video.title|truncate(20, false, '...') }}
																</span>
																<span class="hidden-xs hidden-sm hidden-md">
																	{{ video.title }}
																</span>
															</a>
															<span class="float-right arrow_video">
																<img src="{{ asset('img/system/defaults/right_arrow_spe.png') }}" alt=""/>
															</span>
															<span class="float-right date_video hidden-xs">
																{% if video.createdAt|length > 0 %}
																	{{ video.createdAt|date('d M Y') }}
																{% else %}
																	(Vide)
																{% endif %}
															</span>
														</li>
													{% endfor %}
												</ul>
											{% else %}
												Aucune vidéo
											{% endif %}
					    				</div>
									</div>

									<div class="col-lg-8 col-md-8 col-sm-8 col-xs78">
										<div id="video_content_etudiants">
											{% set no_video_found_etudiants = 'NO' %}
											{% for video in videosEtudiants %}
												{% if video == videoAsked %}
													{% if videoAsked.title|length > 0 and videoAsked.link|length > 0 %}

														<!-- 16:9 aspect ratio -->
														<div class="embed-responsive embed-responsive-16by9">
														  <iframe class="embed-responsive-item" src="{{ videoAsked.link }}"></iframe>
														</div>
														<br/>
														<div class="center">
															<h4>
																{{ videoAsked.title }}
															</h4>
															{% if video.createdAt|length > 0 %}
																<strong>
																	{{ video.createdAt|date('d M Y') }}
																</strong>
															{% else %}
																(Vide)
															{% endif %}
														</div>
													{% else %}
														<p class="center">
															Cette vidéo n'est pas complète.
														</p>
													{% endif %}
													{% set no_video_found_etudiants = 'YES' %}
												{% endif %}
											{% endfor %}
											{% if no_video_found_etudiants == 'NO' %}
												<p class="center">
													Aucune vidéo n'a été sélectionnée. Choisissez celle que vous désirez voir sur votre gauche.
												</p>
											{% endif %}
										</div>
									</div>
								{% else %}
									<p class="center">
										Aucune vidéos pour l'instant
									</p>
								{% endif %}
							</div>
						</div>

						<div class="slide" id="infosEtudiants">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<button onClick="slideToAnchor('#slide_container_content_etudiants','0')" class="btn btn-for-side float-left">
										<img src="{{ asset('img/system/defaults/left_arrow_spe.png') }}" alt="" class="btn_arrow"/>
										Videos
									</button>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3></h3>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

									<button onClick="slideToAnchor('#slide_container_content_etudiants','2')" class="btn btn-for-side float-right">
										Photos
										<img src="{{ asset('img/system/defaults/right_arrow_spe.png') }}" alt="" class="btn_arrow"/>
									</button>
								</div>
							</div>

							<div class="slide_content" id="slide_content_Etudiants">
								<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 board_parent">
									<div style="width: 100%; background-image: url('{{ asset('img/system/content/board_etudiants.png') }}'); background-size: 100% 100%; background-position: 50%;" alt="Tableau" class="board_etudiants italic">
										{% if pages|length > 0 %}
											{% for page in pages %}
												{% if page.dataBaseName == 'Etudiants_Message' %}
													{{ page.content|raw }}
												{% endif %}
											{% endfor %}
										{% endif %}
									</div>
								</div>

								<div class="hidden-lg hidden-md hidden-sm">
									<br/><br/>
								</div>

								<div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
									{% set contenuEtudiants = '' %}
									{% if pages|length > 0 %}
										{% for page in pages %}
											{% if page.dataBaseName == 'Etudiants_Contenu' %}
												{% set contenuEtudiants = page %}
											{% endif %}
										{% endfor %}
									{% endif %}

									{% if contenuEtudiants.alt|length > 0  and contenuEtudiants.url|length > 0 %}
										<div class="photo_content curve" style="width: 70%; min-height:50px; background-image: url('{{ asset(contenuEtudiants.webPath) }}'); background-size: cover; background-position: 50%;" alt="Photo etudiants" onClick="showPhotoCarousel('{{ asset(contenuEtudiants.webPath) }}')">
											<img src="{{ asset('img/system/content/pin_pics.png') }}" alt="Pin" class="pin_pics"/>
					                    </div>
				                   	{% else %}
				                   		<div class="photo_content curve" style="width: 70%; min-height:50px; background-image: url('{{ asset('img/system/defaults/default_article_photo.png') }}'); background-size: cover; background-position: 50%;" alt="Photo ecoliers" onClick="showPhotoCarousel('{{ asset('img/system/defaults/default_article_photo.png') }}')">
											<img src="{{ asset('img/system/content/pin_pics.png') }}" alt="Pin" class="pin_pics"/>
					                    </div>
				                   	{% endif %}

									<br/><br/>
									<div class="talkbubble">
										<h3>
											{{ contenuEtudiants.title }}
										</h3>
										{{ contenuEtudiants.content|raw }}
									</div>
									<div class="hidden-lg hidden-md hidden-sm">
										<br/><br/><br/>
									</div>
								</div>
								
							</div>
						</div>
					    <div class="slide" id="photosEtudiants">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<button onClick="slideToAnchor('#slide_container_content_etudiants','1')" class="btn btn-for-side float-left">
										<img src="{{ asset('img/system/defaults/left_arrow_spe.png') }}" alt="" class="btn_arrow"/>
										Infos
									</button>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>
										Photos
									</h3>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								</div>
							</div>

							<div class="slide_content">
								{% if photosEtudiants|length > 0 %}
									{% for photo in photosEtudiants %}
										<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
											<div class="photo_container">
												{% if photo.alt|length > 0  and photo.url|length > 0 %}
													<div class="photo_default_white photo_action" style="width: 100%; min-height:50px; background-image: url('{{ asset( photo.webPath) }}'); background-size: cover; background-position: 50%;" alt="{{ photo.alt }}" onClick="showPhotoCarousel('{{ asset(photo.webPath) }}')">
								                    </div>
							                   	{% else %}
							                   		<div class="photo_default_white photo_action" style="width: 100%; min-height:50px; background-image: url('{{ asset( 'img/system/defaults/default_article_photo.png') }}'); background-size: cover; background-position: 50%;" alt="Default">
								                    </div>
							                   	{% endif %}
											</div>
											<div class="center">
												<strong>
													{{ photo.title|truncate(20, false, '...') }}
												</strong>
											</div>
										</div>
									{% endfor %}
								{% else %}
									<p class="center">
										Aucune photos pour l'instant
									</p>
								{% endif %}
							</div>
						</div>

					</div>
				</div>

			</div>


			<!-- Les jeunes pro -->
			{% set photoSectionJeunesPro = '' %}
			{% if BGPhotos|length > 0 %}
				{% for photo in BGPhotos %}
					{% if photo.sectionName == 'jeunesPro' %}
						{% set photoSectionJeunesPro = photo %}
					{% endif %}
				{% endfor %}
			{% endif %}
			<div class="section section_jeunesPros" id="jeunesPro" style="background-image: url('{{ asset(photoSectionJeunesPro.webPath) }}'); background-size: cover; background-position: 50%;">

				<h2>
					Jeunes pro
				</h2>

				<div class="slide_container" id="slide_container_content_jeunesPro">
					<div class="slide_container_content">
						
						<div class="slide" id="videosJeunesPro">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>
										Vidéos
									</h3>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<button onClick="slideToAnchor('#slide_container_content_jeunesPro','1')" class="btn btn-for-side float-right">
										Infos
										<img src="{{ asset('img/system/defaults/right_arrow_spe.png') }}" alt="" class="btn_arrow"/>
									</button>
								</div>
							</div>

							<div class="slide_content">
								{% if videosJeunesPro|length > 0 %}
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 left">
										<div class="thumbnail thumbnail_video">
			    					
						    				<h4 class="left">
						    					Vidéos
						    				</h4>

											{% if videosJeunesPro|length > 0 %}
												<ul class="list_no_style_li list_videos">
													{% for video in videosJeunesPro %}
														<li class="video_link {% if video == videoAsked %}li_video_active{% endif %}" id="video_jep_{{ video.id }}">
															<a href="javascript:displaySelectedVideo('{{ path('ma_main_homepage_elementAjax', {'elementType':'video', 'elementId':video.id}) }}', 'video_content_jeunesPro', 'video_jep_{{ video.id }}')" class="no_style_a">
																<span class="hidden-lg">
																	{{ video.title|truncate(20, false, '...') }}
																</span>
																<span class="hidden-xs hidden-sm hidden-md">
																	{{ video.title }}
																</span>
															</a>
															<span class="float-right arrow_video">
																<img src="{{ asset('img/system/defaults/right_arrow_spe.png') }}" alt=""/>
															</span>
															<span class="float-right date_video hidden-xs">
																{% if video.createdAt|length > 0 %}
																	{{ video.createdAt|date('d M Y') }}
																{% else %}
																	(Vide)
																{% endif %}
															</span>
														</li>
													{% endfor %}
												</ul>
											{% else %}
												Aucune vidéo
											{% endif %}
					    				</div>
									</div>

									<div class="col-lg-8 col-md-8 col-sm-8 col-xs78">
										<div id="video_content_jeunesPro">
											{% set no_video_found_jeunesPro = 'NO' %}
											{% for video in videosJeunesPro %}
												{% if video == videoAsked %}
													{% if videoAsked.title|length > 0 and videoAsked.link|length > 0 %}

														<!-- 16:9 aspect ratio -->
														<div class="embed-responsive embed-responsive-16by9">
														  <iframe class="embed-responsive-item" src="{{ videoAsked.link }}"></iframe>
														</div>
														<br/>
														<div class="center">
															<h4>
																{{ videoAsked.title }}
															</h4>
															{% if video.createdAt|length > 0 %}
																<strong>
																	{{ video.createdAt|date('d M Y') }}
																</strong>
															{% else %}
																(Vide)
															{% endif %}
														</div>
													{% else %}
														<p class="center">
															Cette vidéo n'est pas complète.
														</p>
													{% endif %}
													{% set no_video_found_jeunesPro = 'YES' %}
												{% endif %}
											{% endfor %}
											{% if no_video_found_jeunesPro == 'NO' %}
												<p class="center">
													Aucune vidéo n'a été sélectionnée. Choisissez celle que vous désirez voir sur votre gauche.
												</p>
											{% endif %}
										</div>
									</div>
								{% else %}
									<p class="center">
										Aucune vidéos pour l'instant
									</p>
								{% endif %}
							</div>
						</div>

						<div class="slide" id="infosJeunesPro">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<button onClick="slideToAnchor('#slide_container_content_jeunesPro','0')" class="btn btn-for-side float-left">
										<img src="{{ asset('img/system/defaults/left_arrow_spe.png') }}" alt="" class="btn_arrow"/>
										Videos
									</button>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3></h3>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

									<button onClick="slideToAnchor('#slide_container_content_jeunesPro','2')" class="btn btn-for-side float-right">
										Photos
										<img src="{{ asset('img/system/defaults/right_arrow_spe.png') }}" alt="" class="btn_arrow"/>
									</button>
								</div>
							</div>

							<div class="slide_content" id="slide_content_JeunesPro">
								<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 board_parent">
									<div style="width: 100%; background-image: url('{{ asset('img/system/content/board_jeunesPros.png') }}'); background-size: 100% 100%; background-position: 50%;" alt="Tableau" class="board_jeunesPros italic">
										{% if pages|length > 0 %}
											{% for page in pages %}
												{% if page.dataBaseName == 'JeunesPro_Message' %}
													{{ page.content|raw }}
												{% endif %}
											{% endfor %}
										{% endif %}
									</div>
								</div>

								<div class="hidden-lg hidden-md hidden-sm">
									<br/><br/>
								</div>

								<div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
									{% set contenuJeunesPro = '' %}
									{% if pages|length > 0 %}
										{% for page in pages %}
											{% if page.dataBaseName == 'JeunesPro_Contenu' %}
												{% set contenuJeunesPro = page %}
											{% endif %}
										{% endfor %}
									{% endif %}
									{% if contenuJeunesPro.alt|length > 0  and contenuJeunesPro.url|length > 0 %}
										<div class="photo_content curve" style="width: 70%; min-height:50px; background-image: url('{{ asset(contenuJeunesPro.webPath) }}'); background-size: cover; background-position: 50%;" alt="Photo jeunes pro" onClick="showPhotoCarousel('{{ asset(contenuJeunesPro.webPath) }}')">
											<img src="{{ asset('img/system/content/pin_pics.png') }}" alt="Pin" class="pin_pics"/>
					                    </div>
				                   	{% else %}
				                   		<div class="photo_content curve" style="width: 70%; min-height:50px; background-image: url('{{ asset('img/system/defaults/default_article_photo.png') }}'); background-size: cover; background-position: 50%;" alt="Photo ecoliers" onClick="showPhotoCarousel('{{ asset('img/system/defaults/default_article_photo.png') }}')">
											<img src="{{ asset('img/system/content/pin_pics.png') }}" alt="Pin" class="pin_pics"/>
					                    </div>
				                   	{% endif %}
									
									<br/><br/>
									<div class="talkbubble">
										<h3>
											{{ contenuJeunesPro.title }}
										</h3>
										{{ contenuJeunesPro.content|raw }}
									</div>
									<div class="hidden-lg hidden-md hidden-sm">
										<br/><br/><br/>
									</div>
								</div>
							</div>
						</div>
					    <div class="slide" id="photosJeunesPro">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<button onClick="slideToAnchor('#slide_container_content_jeunesPro','1')" class="btn btn-for-side float-left">
										<img src="{{ asset('img/system/defaults/left_arrow_spe.png') }}" alt="" class="btn_arrow"/>
										Infos
									</button>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>
										Photos
									</h3>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								</div>
							</div>

							<div class="slide_content">
								{% if photosJeunesPro|length > 0 %}
									{% for photo in photosJeunesPro %}
										<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
											<div class="photo_container">
												{% if photo.alt|length > 0  and photo.url|length > 0 %}
													<div class="photo_default_white photo_action" style="width: 100%; min-height:50px; background-image: url('{{ asset( photo.webPath) }}'); background-size: cover; background-position: 50%;" alt="{{ photo.alt }}" onClick="showPhotoCarousel('{{ asset(photo.webPath) }}')">
								                    </div>
							                   	{% else %}
							                   		<div class="photo_default_white photo_action" style="width: 100%; min-height:50px; background-image: url('{{ asset( 'img/system/defaults/default_article_photo.png') }}'); background-size: cover; background-position: 50%;" alt="Default">
								                    </div>
							                   	{% endif %}
											</div>
											<div class="center">
												<strong>
													{{ photo.title }}
												</strong>
											</div>
										</div>
									{% endfor %}
								{% else %}
									<p class="center">
										Aucune photos pour l'instant
									</p>
								{% endif %}
							</div>
						</div>

					</div>
				</div>

			</div>



			<!-- Nos besoins -->
			{% set photoSectionBesoins = '' %}
			{% if BGPhotos|length > 0 %}
				{% for photo in BGPhotos %}
					{% if photo.sectionName == 'besoins' %}
						{% set photoSectionBesoins = photo %}
					{% endif %}
				{% endfor %}
			{% endif %}
			<div class="section section_besoins" id="nosBesoins" style="background-image: url('{{ asset(photoSectionBesoins.webPath) }}'); background-size: cover; background-position: 50%;">

				<script>
					var listOfIdsToShow = [];
					var shown = false;

					function showAllBesoins() {
						if (shown == false) {
							for (var i = 0; i < listOfIdsToShow.length; i++) {
								$(listOfIdsToShow[i]).collapse('show');
							}
							shown = true;
							$("#button_show_besoins").html("Annuler");
							$(".scroll-icons-spe").fadeOut();
						}
						else {
							for (var i = 0; i < listOfIdsToShow.length; i++) {
								$(listOfIdsToShow[i]).collapse('hide');
							}
							shown = false;
							$("#button_show_besoins").html("Tout afficher");
						}
					}
				</script>

				<div class="row">
					<div class="row ">
		        		<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
		        		</div>
		        		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<h2>
								Nos besoins
							</h2>
							<div class="center italic">
								Tous les projets en détails
							</div>
		        		</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<button class="float-right btn btn-perso" onClick="showAllBesoins()">
								<span id="button_show_besoins">
									Tout afficher
								</span>
								<img src="{{ asset('img/system/defaults/down_arrow.png') }}" alt="" class="btn_arrow"/>
							</button>
						</div>
					</div>
					<div class="row">
						{% if people|length > 0 %}
							{% for single_person in people %}
								{% set show_person = false %}
								{% if projects|length > 0 %}
									{% for single_project in projects %}
										{% if single_project.forPerson == single_person %}
											{% set show_person = true %}
										{% endif %}
									{% endfor %}
								{% endif %}

								{% if show_person == true %}
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					    				<div class="row">
					    					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
					    						{% if single_person.alt|length > 0  and single_person.url|length > 0 %}
													<div class="besoin_photo" style="width: 100%; min-height:50px; background-image: url('{{ asset(single_person.webPath) }}'); background-size: cover; background-position: 50%;" alt="Default" onClick="showPhotoCarousel('{{ asset(single_person.webPath) }}')"></div>
							                   {% else %}
						                   			<div class="besoin_photo" style="width: 100%; min-height:50px; background-image: url('{{ asset('img/system/defaults/default_besoin.jpg') }}'); background-size: cover; background-position: 50%;" alt="Default" onClick="showPhotoCarousel('{{ asset('img/system/defaults/default_besoin.png') }}')"></div>
							                   {% endif %}
					    					</div>
					    					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
					    						<h4 class="left">
					    							{{ single_person.name }}  
					    							{% if single_person.age|length > 0 %}({{ single_person.age }}) {% endif %}
					    							<button class="no_style_button button_besoin_info" type="button" data-toggle="collapse" data-target="#showDescription_{{ single_person.id }}" aria-expanded="false" aria-controls="showDescription_{{ single_person.id }}">En savoir plus ></button>
					    						</h4>
					    						<div class="row">
													<div class="collapse" id="showDescription_{{ single_person.id }}">
														{{ single_person.description|raw }}
													</div>
					    						</div>
					    						<div class="row">
					    							{% set hasProject = 'NO' %}
													{% if projects|length > 0 %}
														{% for single_project in projects %}
															{% if single_project.forPerson == single_person %}
																<div class="thumbnail">
																	{% set project_pourcentage = single_project.currentAmount / single_project.totalAmount %}
															  		{% set project_pourcentage = project_pourcentage * 100 %}
															  		{% set project_pourcentage = project_pourcentage|round %}
															  		<div class="row caption">
																    	<strong>
																    		{{ single_project.title }} :
																    	</strong>
																    	<button class="no_style_button prix_subvention_div" type="button" data-toggle="collapse" data-target="#showProject_{{ single_project.id }}" aria-expanded="false" aria-controls="showProject_{{ single_project.id }}" onClick="$('.scroll-icons-spe').fadeOut();">
															    			<script>
															    				listOfIdsToShow.push('#showProject_{{ single_project.id }}');
															    			</script>
																			<div class="prix_subvention
																				{% if project_pourcentage == 100 %}
																	  					prix_check_success
																	  					{% elseif project_pourcentage > 50 %}
																	  					prix_check_info
																	  					{% elseif project_pourcentage > 25 %}
																	  					prix_check_warning
																	  					{% else %}
																	  					prix_check_danger
																	  					{% endif %}">
																	  			<span class="inner_subvention">
															  						<strong>S/.</strong> {{ single_project.totalAmount }}
																	  			</span>
																			</div>
																    	</button>
																    	<img src="{{ asset('img/system/scroll-icons/right-key-spe.png') }}" alt="click here" class="scroll-icons-spe scroll-icons-spe-right float-right"/>
															  		</div>
															  		<div class="row pourcentage collapse" id="showProject_{{ single_project.id }}">
															  			<div class="progress">
															  				<div class="progress-bar 
															  					{% if project_pourcentage == 100 %}
															  					progress-bar-success
															  					{% elseif project_pourcentage > 50 %}
															  					progress-bar-info
															  					{% elseif project_pourcentage > 25 %}
															  					progress-bar-warning
															  					{% else %}
															  					progress-bar-danger
															  					{% endif %}
															  					progress-bar-striped active" role="progressbar" aria-valuenow="{{ project_pourcentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ project_pourcentage }}%">
															  					{{ project_pourcentage }} %
															  				</div>
																		</div>
																		<div class="row">
																			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
																				<span class="hidden-lg hidden-md">
																					Récolté : 
																				</span>
																				<span class="hidden-sm hidden-xs">
																					Total récolté : 
																				</span>
																				<span class="
																					{% if project_pourcentage == 100 %}
																  					prix_recolte_success
																  					{% elseif project_pourcentage > 50 %}
																  					prix_recolte_info
																  					{% elseif project_pourcentage > 25 %}
																  					prix_recolte_warning
																  					{% else %}
																  					prix_recolte_danger
																  					{% endif %}">
																					<strong>S/.</strong> {{ single_project.currentAmount }} 
																				</span>
																			</div>
																			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 right">
																				<span class="hidden-lg hidden-md">
																					Fin : 
																				</span>
																				<span class="hidden-sm hidden-xs">
																					Date de fin : 
																				</span>
																				<strong>
																					{{ single_project.deliveryAt|date('d M Y') }} 
																				</strong>
																			</div>
																		</div>
																		<br/>
																		<div class="row">
																			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left">
																				<strong>
																					Description :
																				</strong> <br/>
																				{{ single_project.description|raw }} 
																			</div>
																		</div>
															  		</div>
															  	</div>
															  	{% set hasProject = 'YES' %}
															{% endif %}
														{% endfor %}
													{% endif %}

													{% if hasProject == 'NO' %}
														<div class="center">
															Ce bénéficiaire n'a aucune projet pour le moment.
														</div>
													{% endif %}	
					    						</div>
					    					</div>
					    				</div>
						    			<hr class="medium_hr"/>
					    			</div>							
					    		{% endif %}
							{% endfor %}
						{% else %}
							<div class="center">
								Aucun bénéficiaires pour le moment. Merci de votre patience.
							</div>
						{% endif %}
	    			</div>

				</div>

			</div>

			

			<!-- L'association -->
			{% set photoSectionAssociation = '' %}
			{% if BGPhotos|length > 0 %}
				{% for photo in BGPhotos %}
					{% if photo.sectionName == 'association' %}
						{% set photoSectionAssociation = photo %}
					{% endif %}
				{% endfor %}
			{% endif %}
			<div class="section section_charte" id="assoc" style="background-image: url('{{ asset(photoSectionAssociation.webPath) }}'); background-size: cover; background-position: 50%;">

				<div class="row80">
					<h2>
						L'association
					</h2>
					<!-- <hr class="dark_hr"/> -->
				</div>

				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <div class="thumbnail">
					      	<div class="caption">
						      	{% set associationQuiSommesNous = '' %}
								{% if pages|length > 0 %}
									{% for page in pages %}
										{% if page.dataBaseName == 'Association_Qui' %}
											{% set associationQuiSommesNous = page %}
										{% endif %}
									{% endfor %}
								{% endif %}
						        <h3>
						        	{{ associationQuiSommesNous.title }}
						        </h3>
						        {{ associationQuiSommesNous.content|raw }}
					      	</div>
					    </div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <div class="thumbnail">
					      	<div class="caption">
					      		{% set associationCharte = '' %}
								{% if pages|length > 0 %}
									{% for page in pages %}
										{% if page.dataBaseName == 'Association_Charte' %}
											{% set associationCharte = page %}
										{% endif %}
									{% endfor %}
								{% endif %}
						        <h3>
						        	{{ associationCharte.title }}
						        </h3>
						        {{ associationCharte.content|raw }}
					      	</div>
					    </div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
					    <div class="thumbnail">
					    	<div class="caption">
					      		{% set associationReperes = '' %}
								{% if pages|length > 0 %}
									{% for page in pages %}
										{% if page.dataBaseName == 'Association_Reperes' %}
											{% set associationReperes = page %}
										{% endif %}
									{% endfor %}
								{% endif %}
						        <h3>
						        	{{ associationReperes.title }}
						        </h3>
						        {{ associationReperes.content|raw }}
					      	</div>
					    </div>
					</div>
				</div>

			</div>

			<!-- BEGIN FOOTER -->
	          {% include 'includes/footer.html.twig' %}
	        <!-- END FOOTER -->

		</div>

	</div>
	<!-- END CONTENT -->

{% endblock MA_Main_body %}