{# app/Resources/views/index_base.html.twig #}

{# For clearer view #}
{% set route = app.request.attributes.get( '_route' ) %}

<!DOCTYPE html>

<!-- BEGIN HEAD -->
<head id="website_head">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      {% block title %}
        Mission Andina
      {% endblock %}
    </title>

    <link rel="icon" type="image/ico" href="{{ asset('favicon.ico') }}" />

    <meta name="msvalidate.01" content="CC1F6862C60F3FE59348108B42D19AC7" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="Pierre-Arnaud Destremau" name="author"/>
    <meta content="Mission Andina" name="title"/>
    <meta content="contact@missionandina.org" name="email"/>
    <meta content="Site de Mission Andina. Dernières informations, projets et besoins pour l'association. N'hésitez pas à y faire un tour." name="description"/>
    <meta content="http://www.missionandina.org{{ asset('img/system/logo/logo_300x300.png') }}" name="image"/>
    <meta content="C-19, Calle las Orquideas" name="streetAddress"/>
    <meta content="Cusco" name="addressLocality"/>
    <meta content="Cuzco" name="addressRegion"/>
    <meta content="Peru" name="addressCountry"/>
    <meta name="keywords" content="mission, andina, cusco, peru, larapa, san, sebsatian, association, associatif, aides, jeunes, rues, professionnelles, insertion, etudes, loyer, universite, ecoles, subventions, apurimac, pere, christian, aude, antoine, benedicte, herve, penfentenyo"/>

    <!-- Facebook -->
    <meta property="og:title" content="Mission Andina"/>
    <meta property="og:email" content="contact@missionandina.org"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://www.missionandina.org{{ asset('img/system/logo/logo_300x300.png') }}"/>
    <meta property="og:url" content="http://www.missionandina.org/"/>
    <meta property="og:description" content="Site de Mission Andina. Dernières informations, projets et besoins pour l'association. N'hésitez pas à y faire un tour."/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    {% stylesheets
      'css/font.css'
      'css/main_style.css'

      filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen"/>
    {% endstylesheets %}

    {% if (route == 'ma_user_article_edit') 
        or (route == 'ma_user_article_new')
        or (route == 'ma_user_project_new')
        or (route == 'ma_user_project_edit')
        or (route == 'ma_user_person_edit')
        or (route == 'ma_user_person_new')
        or (route == 'ma_user_content_new')
        or (route == 'ma_user_content_edit') %}
      {% stylesheets
      'redactor/redactor.css'
      'bundles/maredactor/css/sonata.css'
      filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen"/>
      {% endstylesheets %}
      {% javascripts 
      'redactor/redactor.js'
      'redactor/fullscreen.js'
      'redactor/fr.js'
      'bundles/maredactor/js/script.js'
      %}
      <script type="text/javascript" src="{{ asset_url }}"> </script>
      {% endjavascripts %}
    {% endif %}

    <!-- FLIP -->
    {% javascripts 
      'js/jquery.flip.js'
      %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!-- END FLIP -->


</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
  <body 
    {% if (route != 'ma_main_helpUs') %}
      class="main_background"
    {% endif %} 
    {% if (route == 'ma_main_homepage') 
        or (route == 'ma_main_homepage_elementAjax')
        or (route == 'ma_main_helpUs') %}
      onLoad="onLoadData()"
    {% endif %} 
    >

        {% set route = app.request.attributes.get( '_route' ) %}

        <!-- BEGIN header -->
          {% include 'includes/header.html.twig' %}
        <!-- END header -->
        
        <!-- BEGIN social -->
          {% include 'includes/social.html.twig' %}
        <!-- END social -->

        <!-- BEGIN in_construction -->
          {# include 'includes/in_construction.html.twig' #}
        <!-- END in_construction -->

        <!-- BEGIN button -->
          {% include 'includes/button_on_side.html.twig' %}
        <!-- END button -->

        <!-- BEGIN button -->
          {% include 'includes/button_to_top.html.twig' %}
        <!-- END button -->

        <!-- BEGIN social -->
          {% include 'includes/modals.html.twig' %}
        <!-- END social -->

        <!-- BEGIN CONTAINER -->
        <div id="page_container_gen" class="
          {% if (route == 'ma_main_homepage') 
            or (route == 'ma_main_homepage_elementAjax')
            or (route == 'ma_main_helpUs') %}
            page-container
          {% else %}
            page-admin
          {% endif %} 
            row margin0">
            {% block body %}
            {% endblock body %} 
        </div>
        <!-- END CONTAINER -->


        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        {% javascripts 
          'js/javascripts_misAnd.js'
          'js/ajax_load.js'

          'jscolor/jscolor.js'
          %}
          <script type="text/javascript" src="{{ asset_url }}"> </script>

        {% endjavascripts %}
        <!-- END JAVASCRIPTS -->

  </body>
  <!-- END BODY -->
</html>