<!-- Button on side -->

{% set route = app.request.attributes.get( '_route' ) %}

<div class="
	{% if (route == 'ma_main_helpUs_contact_thankYou') 
        or (route == 'ma_main_footer_contact_thankYou')
        or (route == 'ma_main_helpUs') %}
		hidden-lg hidden-md hidden-sm hidden-xs
	{% else %}
		hidden-xs
	{% endif %}
	"  id="side_buttons"> 
	<a href="#accueil" class="no_style_a">
		<button class="btn-side btn-side-invert" id="btn_side_0">
			<div class="pop_hover_side">
				{{ 'sideButtons.titles.accueil'|trans }}
			</div>
		</button>
	</a>
	<a href="#actu" class="no_style_a">
		<button class="btn-side btn-side-invert" id="btn_side_1">
			<div class="pop_hover_side">
				{{ 'sideButtons.titles.actu'|trans }}
			</div>
		</button>
	</a>
	<a href="#ecoliers" class="no_style_a">
		<button class="btn-side btn-side-invert" id="btn_side_2">
			<div class="pop_hover_side">
				{{ 'sideButtons.titles.ecoliers'|trans }}
			</div>
		</button>
	</a>
	<a href="#etudiants" class="no_style_a">
		<button class="btn-side btn-side-invert" id="btn_side_3">
			<div class="pop_hover_side">
				{{ 'sideButtons.titles.etudiants'|trans }}
			</div>
		</button>
	</a>
	<a href="#jeunesPro" class="no_style_a">
		<button class="btn-side btn-side-invert" id="btn_side_4">
			<div class="pop_hover_side">
				{{ 'sideButtons.titles.jeunesPro'|trans }}
			</div>
		</button>
	</a>
	<a href="#nosBesoins" class="no_style_a">
		<button class="btn-side btn-side-invert" id="btn_side_5">
			<div class="pop_hover_side">
				{{ 'sideButtons.titles.nosBesoins'|trans }}
			</div>
		</button>
	</a>
	<a href="#assoc" class="no_style_a">
		<button class="btn-side btn-side-invert" id="btn_side_6">
			<div class="pop_hover_side">
				{{ 'sideButtons.titles.assoc'|trans }}
			</div>
		</button>
	</a>
	<a href="#footer" class="no_style_a">
		<button class="btn-side btn-side-invert" id="btn_side_7">
			<div class="pop_hover_side">
				{{ 'sideButtons.titles.footer'|trans }}
			</div>
		</button>
	</a>
</div>