<!-- Button on side -->

{% set route = app.request.attributes.get( '_route' ) %}

<div class="
	{% if (route == 'ma_main_helpUs_contact_thankYou') 
        or (route == 'ma_main_footer_contact_thankYou')
        or (route == 'ma_main_helpUs') 
		or (route == 'ma_user_homepage')
		or (route == 'ma_user_articles')
		or (route == 'ma_user_article_spe')
		or (route == 'ma_user_article_edit')
		or (route == 'ma_user_article_delete')
		or (route == 'ma_user_article_new')
		or (route == 'ma_user_photos')
		or (route == 'ma_user_photos_spe')
		or (route == 'ma_user_photo_new')
		or (route == 'ma_user_photo_delete')
		or (route == 'ma_user_videos')
		or (route == 'ma_user_videos_spe')
		or (route == 'ma_user_videos_spe_video')
		or (route == 'ma_user_video_new')
		or (route == 'ma_user_video_edit')
		or (route == 'ma_user_video_delete')
		or (route == 'ma_user_nosBesoins')
		or (route == 'ma_user_nosBesoins_elementAjax')
		or (route == 'ma_user_person_new')
		or (route == 'ma_user_project_new')
		or (route == 'ma_user_person_edit')
		or (route == 'ma_user_project_edit')
		or (route == 'ma_user_person_delete')
		or (route == 'ma_user_project_delete')
		or (route == 'ma_user_content')
		or (route == 'ma_user_content_spe')
		or (route == 'ma_user_content_new')
		or (route == 'ma_user_content_edit')
		or (route == 'ma_user_content_delete')
		or (route == 'ma_user_diapos')
		or (route == 'ma_user_diapos_new')
		or (route == 'ma_user_diapos_delete')
		or (route == 'ma_user_BG_photos')
		or (route == 'ma_user_BG_photos_new')
		or (route == 'ma_user_BG_photos_edit')
		or (route == 'ma_user_BG_photos_delete')
		or (route == 'ma_user_aides')
		or (route == 'ma_user_aides_new')
		or (route == 'ma_user_aides_edit')
		or (route == 'ma_user_aides_delete')
		or (route == 'ma_user_partners')
		or (route == 'ma_user_partners_new')
		or (route == 'ma_user_partners_edit')
		or (route == 'ma_user_partners_delete') %}
		hidden-lg hidden-md hidden-sm hidden-xs
	{% else %}
		hidden-xs
	{% endif %}
	"  id="side_buttons"> 
	<a href="#accueil" class="no_style_a">
		<button class="btn-side btn-side-invert" id="btn_side_0">
			<div class="pop_hover_side">
				{{ 'sideButtons.titles.accueil'|trans }}
			</div>
		</button>
	</a>
	<a href="#actu" class="no_style_a">
		<button class="btn-side btn-side-invert" id="btn_side_1">
			<div class="pop_hover_side">
				{{ 'sideButtons.titles.actu'|trans }}
			</div>
		</button>
	</a>
	<a href="#ecoliers" class="no_style_a">
		<button class="btn-side btn-side-invert" id="btn_side_2">
			<div class="pop_hover_side">
				{{ 'sideButtons.titles.ecoliers'|trans }}
			</div>
		</button>
	</a>
	<a href="#etudiants" class="no_style_a">
		<button class="btn-side btn-side-invert" id="btn_side_3">
			<div class="pop_hover_side">
				{{ 'sideButtons.titles.etudiants'|trans }}
			</div>
		</button>
	</a>
	<a href="#jeunesPro" class="no_style_a">
		<button class="btn-side btn-side-invert" id="btn_side_4">
			<div class="pop_hover_side">
				{{ 'sideButtons.titles.jeunesPro'|trans }}
			</div>
		</button>
	</a>
	<a href="#nosBesoins" class="no_style_a">
		<button class="btn-side btn-side-invert" id="btn_side_5">
			<div class="pop_hover_side">
				{{ 'sideButtons.titles.nosBesoins'|trans }}
			</div>
		</button>
	</a>
	<a href="#assoc" class="no_style_a">
		<button class="btn-side btn-side-invert" id="btn_side_6">
			<div class="pop_hover_side">
				{{ 'sideButtons.titles.assoc'|trans }}
			</div>
		</button>
	</a>
	<a href="#footer" class="no_style_a">
		<button class="btn-side btn-side-invert" id="btn_side_7">
			<div class="pop_hover_side">
				{{ 'sideButtons.titles.footer'|trans }}
			</div>
		</button>
	</a>
</div>