<!-- BEGIN FOOTER -->
<div class="footer center section" id="footer">
	<br/><br/>

	<div class="row80">
		<h2 class="h2_contact">
			CONTACT
		</h2>

		<form id="contact_form" method="post" action="">
	        <div id="" class="row">
				<div class="form-group row">
					<div class="input-icon col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<input type="text" name="senderContact" id="senderContact" placeholder="{{ 'footer.contact.senderName' | trans }}" class="form-control placeholder-no-fix"/>
			        </div>
					<div class="input-icon col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<input type="email" name="emailContact" id="emailContact" placeholder="{{ 'footer.contact.senderEmail' | trans }}" class="form-control placeholder-no-fix"/>
			        </div>
				</div>
				<br/>
	            <div class="form-group row">
	            	<div class="input-icon col-lg-6 col-md-6 col-sm-6 col-xs-12">
		                <select name="sujetMail" id="objet" class="form-control placeholder-no-fix" onClick="showOrderNumber()">
		                    <option value="" selected>
		                    	{{ 'footer.contact.selectObject' | trans }}
		                    </option>
		                    <option value="OBJ1: {{ 'footer.contact.object1' | trans }}">
		                    	{{ 'footer.contact.object1' | trans }}
		                    </option>
							<option value="OBJ2: {{ 'footer.contact.object2' | trans }}">
								{{ 'footer.contact.object2' | trans }}
							</option>
							<option value="OBJ3: {{ 'footer.contact.object3' | trans }}">
								{{ 'footer.contact.object3' | trans }}
							</option>
							<option value="OBJ4: {{ 'footer.contact.object4' | trans }}">
								{{ 'footer.contact.object4' | trans }}
							</option>
							<option value="OBJ5: {{ 'footer.contact.object5' | trans }}">
								{{ 'footer.contact.object5' | trans }}
							</option>
							<option value="OBJ6: {{ 'footer.contact.object6' | trans }}">
								{{ 'footer.contact.object6' | trans }}
							</option>
							<option value="OBJ7: {{ 'footer.contact.object7' | trans }}">
								{{ 'footer.contact.object7' | trans }}
							</option>
						</select>
	            	</div>
	                <div class="input-icon col-lg-6 col-md-6 col-sm-6 col-xs-12"  style="display:none;" id="corpsOrder_input">
	                	<input type="integer" name="orderNumber" id="orderNumber" placeholder="{{ 'footer.contact.orderNumber' | trans }}" class="form-control placeholder-no-fix"/>
	                </div>
	          	</div> 	
				<br/>
	            <div class="form-group row">
	                <div class="input-icon col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                	<textarea class="form-control placeholder-no-fix" name="corpsMail" id="corpsMail" placeholder="{{ 'footer.contact.message' | trans }}"></textarea>
	                </div>
	            </div>
	        </div>
	        <input type="submit" value="{{ 'footer.contact.send' | trans }}" class="btn btn-footer submit_send_footer">
	    </form>

	    <br/><br/>
	</div>

	<div class="row border_white_top">
		<div class="row80">
			
			<br/><br/><br/>
			
			<div class="row left multiple_lists footer_part footer_bottom">
				 <div class="col-md-4 col-xs-4">
					 <h4>
					 	A propos
					 </h4>
						<a href="/remerciements">
							Remerciements
						</a><br />
						<a href="/mentions-legales">
							Mentions légales
						</a><br />
				 </div>
				 <div class="col-md-4 col-xs-4"> 
					 <h4>
					 	Besoin d'aide ?
					 </h4>
						<a href="/">
							Plus d'informations
						</a><br />
						<a href="/">
							Dons
						</a><br />
						<a href="/">
							Notre travail
						</a><br />
						<a href="/">
							FAQ
						</a><br />
				 </div>
				 <div class="col-md-4 col-xs-4">
				  <h4>
				  	Toute l'actualité
				  </h4>
					<a href="/">
						Le Blog
					</a><br />
					<a href="/">
						Nouvelles
					</a>
				 </div>
			</div>
		</div>
		<br/><br/><br/><br/>
		<div class="row right margin_top_10 margin_right_30 font10">
			<br/><br/>
			Mission Andina - <a href="{{ path('ma_user_homepage') }}" class="no_style_a">TOUS DROITS RESERVES</a> © 2015
		</div>

	</div>

	
</div>
<!-- END FOOTER -->