<!-- BEGIN FOOTER -->
<div class="footer center section" id="footer">
	<br/><br/>

	<div class="row80">
		<h3 class="white">
			CONTACT
		</h3>

		<form id="contact_form" method="post" action="{{ path('ma_main_footer_contact') }}">
			<div class="row">
		        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="form-group">
						<div class="input-icon">
							<input type="text" name="senderContact" id="senderContact" placeholder="{{ 'footer.contact.senderName' | trans }}" class="form-control placeholder-no-fix"/>
				        </div>
				    </div>
				    <div class="form-group">
						<div class="input-icon">
							<input type="email" name="emailContact" id="emailContact" placeholder="{{ 'footer.contact.senderEmail' | trans }}" class="form-control placeholder-no-fix"/>
				        </div>
					</div>
		            <div class="form-group">
		                <div class="input-icon">
		                	<textarea class="form-control placeholder-no-fix" name="corpsMail" id="corpsMail" placeholder="{{ 'footer.contact.message' | trans }}" rows="8"></textarea>
		                </div>
		            </div>
		        </div>
		        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		        	<!-- 16:9 aspect ratio -->
					<div class="embed-responsive embed-responsive-16by9">
					  <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3879.0289476897924!2d-71.90520600000005!3d-13.533814999999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTPCsDMyJzAxLjciUyA3McKwNTQnMTguNyJX!5e0!3m2!1sfr!2sfr!4v1425744003816"></iframe>
					</div>
		        </div>
			</div>
			<br/>
	        <button type="submit" class="btn btn-footer">
	        	{{ 'footer.contact.send' | trans }}
	        </button>
	    </form>

	    <br/>
	</div>

	<div class="row border_white_top">
		<div class="row">
			
			<br/>
			
			<div class="row center footer_part footer_bottom">
				<ul>
					<li>
						<a href="{{ asset('doc/Statuts.pdf') }}" target="_blank">
							Mentions légales
						</a>
					</li> 
					<span class="red"> — </span>
					<li>
						<a href="{{ path('ma_main_homepage') }}#actu">
							Actualité
						</a>
					</li> 
					<span class="red"> — </span>
					<li>
						<a href="{{ path('ma_main_helpUs') }}" class="disabled">
							Faire un don
						</a>
					</li>
				</ul>
			</div>
		</div>
		<br/><br/>
		<div class="row center margin_top_10 font12">
			Mission Andina - <a href="{{ path('ma_user_homepage') }}" class="no_style_a">TOUS DROITS RESERVES</a> © 2015
		</div>

	</div>

	
</div>
<!-- END FOOTER -->