{# For clearer view #}
{% set route = app.request.attributes.get( '_route' ) %}


<div id="header" class="header row hidden-xs" style="{% if route != 'ma_main_helpUs' %}display:none;{% endif %}" >
	<ul class="nav nav-tabs nav-justified uppercase" id="menu">
		<li class="border_right_li" id="btn_header0">
			<a href="{{ path('ma_main_homepage') }}#accueil" id="btn_section0">
				<span class="glyphicon glyphicon-home white" aria-hidden="true"></span>
			</a>
		</li>
		<li class="dropdown border_right_li" id="btn_header1">
		    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
		      L'association <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu" role="menu">
		    	<li>
	          		<a href="{{ path('ma_main_homepage') }}#assoc"  id="btn_section1">
	          			Qui sommes-nous ?
	          		</a>
	          	</li>
	          	<hr/>
	          	<li>
	          		<a href="{{ path('ma_main_homepage') }}#assoc">
	          			La charte
	          		</a>
	          	</li>
	          	<hr/>
	          	<li>
	          		<a href="{{ path('ma_main_homepage') }}#assoc">
	          			Quelques repères
	          		</a>
	          	</li>
		    </ul>
		</li>
		<li class="dropdown border_right_li" id="btn_header2">
		    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
		      Notre action <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu" role="menu">
		    	<li>
	          		<a href="{{ path('ma_main_homepage') }}#ecoliers" id="btn_section2">
	          			Ecoliers
	          		</a>
	          	</li>
	          	<hr/>
	          	<li>
	          		<a href="{{ path('ma_main_homepage') }}#etudiants" id="btn_section3">
	          			Etudiants
	          		</a>
	          	</li>
	          	<hr/>
	          	<li>
	          		<a href="{{ path('ma_main_homepage') }}#jeunesPro" id="btn_section4">
	          			Jeunes pro
	          		</a>
	          	</li>
		    </ul>
		</li>
		<li  class="border_right_li" id="btn_header5">
			<a href="{{ path('ma_main_homepage') }}#nosBesoins" id="btn_section5">
				Nos besoins
			</a>
		</li>
		<li  class="border_right_li" id="btn_header6">
			<a href="{{ path('ma_main_homepage') }}#actu" id="btn_section6">
				L'actualité
			</a>
		</li>
		<li  class="border_right_li" id="btn_header7">
			<a href="{{ path('ma_main_homepage') }}#footer" id="btn_section7">
				Contact
			</a>
		</li>

		<li class="header_help_li {% if route == 'ma_main_helpUs' %}active{% endif %}">
			<a href="{{ path('ma_main_helpUs') }}">
				Nous aider
			</a>
		</li>
	</ul>
</div>




<!-- FOR MOBILE -->

<nav id="header" class="header row hidden-lg hidden-md hidden-sm navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button id="toggle_menu_button" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top_menu_dropdown">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar white"></span>
        <span class="icon-bar white"></span>
        <span class="icon-bar white"></span>
      </button>
      <a class="navbar-brand hidden-lg hidden-md hidden-sm" href="{{ path('ma_main_homepage') }}#accueil" id="btn_section0">
      	<div id="div_logo_welcome_xs">
			<img src="{{ asset('img/system/logo/logo.png') }}" alt="Logo" id="logo_welcome_xs"/>
		</div>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="top_menu_dropdown">
      <ul class="nav navbar-nav">
		<li class="dropdown li_mobile border_bottom_white" id="btn_header1">
		    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
		      L'association <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu" role="menu">
	          	<li>
	          		<a href="{{ path('ma_main_homepage') }}#assoc" class="link_in_dropdown">
	          			La charte
	          		</a>
	          	</li>
	          	<hr/>
	          	<li>
	          		<a href="{{ path('ma_main_homepage') }}#assoc" id="btn_section1"  class="link_in_dropdown">
	          			Petite histoire
	          		</a>
	          	</li>
		    </ul>
		</li>
		<li class="dropdown li_mobile border_bottom_white" id="btn_header2">
		    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
		      Notre action <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu" role="menu">
		    	<li>
	          		<a href="{{ path('ma_main_homepage') }}#ecoliers" id="btn_section2" class="link_in_dropdown">
	          			Ecoliers
	          		</a>
	          	</li>
	          	<hr/>
	          	<li>
	          		<a href="{{ path('ma_main_homepage') }}#etudiants" id="btn_section3" class="link_in_dropdown">
	          			Etudiants
	          		</a>
	          	</li>
	          	<hr/>
	          	<li>
	          		<a href="{{ path('ma_main_homepage') }}#jeunesPro" id="btn_section4" class="link_in_dropdown">
	          			Jeunes pro
	          		</a>
	          	</li>
		    </ul>
		</li>
		<li  class="li_mobile border_bottom_white" id="btn_header5">
			<a href="{{ path('ma_main_homepage') }}#actu" id="btn_section5" class="link_in_dropdown">
				L'actualité
			</a>
		</li>
		<li  class="li_mobile border_bottom_white" id="btn_header6">
			<a href="{{ path('ma_main_homepage') }}#footer" id="btn_section6" class="link_in_dropdown">
				Contact
			</a>
		</li>

		<li class="li_mobile li_mobile_help {% if route == 'ma_main_helpUs' %}active{% endif %}">
			<a href="{{ path('ma_main_helpUs') }}">
				Nous aider
			</a>
		</li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>